include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button
include ../tooltip/tooltip

mixin reservation(options)
  if !options
    - options = {}

  section.reservation
    form#reservation-form.reservation__info
      .reservation__header
        h2.reservation__title
          span.reservation__number= options.number
          span.reservation__class= options.category
        span.reservation__cost
          span.reservation__price= options.price
          | в сутки
      .reservation__dates
        +dateDropdown({
          mode: "range",
          from: {
            label: "Прибытие",
            attributes: {
              name: "arrival",
              required: true,
              value: options.arrival,
            },
          },
          to: {
            label: "Выезд",
            attributes: {
              name: "departure",
              required: true,
              value: options.departure,
            },
          }
        })
      .reservation__guests
        +dropdown({
          label: "Гости",
          labelVisually: true,
          isGuestsDropdown: true,
          guests: options.guests,
          })
    .reservation__order
      ul.reservation__calculation
        li.reservation__row
          .reservation__category
            p.reservation__text
              span.reservation__order-price= options.price
              |&nbsp;х&nbsp;
              span.reservation__duration 4 суток
          span.reservation__subtotal(data-subtotal="calculation") 39 960
        li.reservation__row
          .reservation__category
            p.reservation__text Сбор за услуги: скидка&nbsp;
              span.reservation__discount 2 179
            +tooltip("Lorem ipsum")
          span.reservation__subtotal(data-subtotal="services") 0
        li.reservation__row
          .reservation__category
            p.reservation__text Сбор за дополнительные услуги
            +tooltip("Lorem ipsum dolor sit amet")
          span.reservation__subtotal(data-subtotal="add-services") 300
      .reservation__sum
        span.reservation__sum-text Итого
        span.reservation__total 38 081
    +button({
      type: "submit",
      buttonMod: "with-arrow",
      desc: "Забронировать",
      mix: "reservation__button",
      form: "reservation-form"
      })
