include ../dropdown/dropdown
include ../button/button
include ../tooltip/tooltip

mixin reservation({number, category, price, arrival, departure, guests})
  section.reservation.js-reservation
    form#reservation-form.reservation__info
      .reservation__header
        h2.reservation__title
          span.reservation__number= number
          span.reservation__class= category
        span.reservation__cost
          span.reservation__price= price
          | в сутки
      .reservation__dates.js-reservation__dates
        +dropdown({ mode: "range", inputFrom: { label: "Прибытие", attributes: { name: "arrival", required: true, "data-from": arrival } }, inputTo: {label: "Выезд", attributes: {name: "departure", required: true, "data-to": departure } }})
      .reservation__guests.js-reservation__guests
        +dropdown({ mode: "guests", input: {label: "Гости"}, body: guests })
    .reservation__order
      ul.reservation__calculation
        li.reservation__row
          .reservation__category
            p.reservation__text
              span.reservation__order-price= price
              | &nbsp;х&nbsp;
              span.reservation__duration(data-days)
          span.reservation__subtotal(data-subtotal="calculation")
        li.reservation__row
          .reservation__category
            p.reservation__text Сбор за услуги: скидка&nbsp;
              span.reservation__discount(data-discount)
            +tooltip("Lorem ipsum")
          span.reservation__subtotal(data-subtotal="services")
        li.reservation__row
          .reservation__category
            p.reservation__text Сбор за дополнительные услуги
            +tooltip("Lorem ipsum dolor sit amet")
          span.reservation__subtotal(data-subtotal="add-services")
      .reservation__sum
        span.reservation__sum-text Итого
        span.reservation__total(data-total)
    +button({text: "Забронировать", mode: ["colored", "size_wide", "with-arrow"], attributes: {class: ["js-button"], type: "submit", form: "reservation-form"} })
