.chart {
  display: flex;

  column-gap: 30px;
}

.chart__body {
  width: 120px;
  height: 120px;
}

/* Total */

.chart__total {
  fill: $purple;
  @include montserrat-bold;
}

.chart__total-number {
  font-size: 24px;
  text-anchor: middle;
}

.chart__total-text {
  font-size: 12px;
  text-anchor: middle;

  text-transform: uppercase;

  transform: translateY(1.5em);
}

/* Legend */
$orange-gradient: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$black-gradient: linear-gradient(180deg, #919191 0%, #3d4975 100%);

.chart__legend {
  padding-top: 30px;
}

.chart__list {
  list-style: none;
}

.chart__item {
  display: flex;
  align-items: center;

  &::before {
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 5px;

    border-radius: 50%;

    content: "";
  }
}

.chart__item--sumptuously {
  &::before {
    background: $orange-gradient;
  }
}

.chart__item--good {
  &::before {
    background: $secondary-gradient;
  }
}

.chart__item--fine {
  &::before {
    background: $primary-gradient;
  }
}

.chart__item--badly {
  &::before {
    background: $black-gradient;
  }
}
