$orange-gradient: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$black-gradient: linear-gradient(180deg, #919191 0%, #3d4975 100%);

.chart {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;

  &__body {
    width: 120px;
    height: 120px;
  }

  /* Total */

  &__total {
    fill: $purple;
    @include montserrat-bold;
  }

  &__total-number {
    font-size: 24px;
    text-anchor: middle;
  }

  &__total-text {
    font-size: 12px;
    text-transform: uppercase;
    text-anchor: middle;
    transform: translateY(1.5em);
  }

  /* Legend */

  &__legend {
    padding-top: 30px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;

    &::before {
      display: block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      content: "";
      border-radius: 50%;
    }
  }

  &__item--sumptuously {
    &::before {
      background: $orange-gradient;
    }
  }

  &__item--good {
    &::before {
      background: $secondary-gradient;
    }
  }

  &__item--fine {
    &::before {
      background: $primary-gradient;
    }
  }

  &__item--badly {
    &::before {
      background: $black-gradient;
    }
  }
}
