include ../input/input

mixin subscription
  form.subscription
    .subscription__field
      +input({ attributes: { class: "subscription__input", type: "email", placeholder: "Email", required: true, } })
      button.subscription__button(type="submit", aria-label="Подписаться") 
