-
  const bodyDesc = require("./bodyDesc.js");

  const inputDefaultAttributes = {
    class: ["dropdown__input", "js-dropdown__input"],
    type: "text",
    readonly: true,
  };

  const dropdowns = {
    guests: {
      attributes: {
        class: ["dropdown_joint"],
      },
      input: {
        attributes: {
          ...inputDefaultAttributes,
          placeholder: "Сколько гостей",
        },
      },
      body: bodyDesc.guests,
    },
    range: {
      attributes: {
        class: ["dropdown_separated"],
      },
      input: [
        {
          name: "From",
          attributes: { ...inputDefaultAttributes, },
          isDateMask: true,
        },
        {
          name: "To",
          attributes: { ...inputDefaultAttributes, },
          isDateMask: true,
        },
      ],
      body: bodyDesc.range,
    },
    comfort: {
      attributes: {
        class: ["dropdown_joint", "dropdown_small"],
      },
      input: {
        attributes: {
          ...inputDefaultAttributes,
        },
      },
      body: bodyDesc.comfort,
    },
    filter: {
      attributes: {
        class: ["dropdown_separated"],
      },
      input: {
        attributes: {
          ...inputDefaultAttributes,
        },
      },
      body: bodyDesc.filter,
    }
  };
