.search {
  min-width: 320px;

  background-color: $white;
  border-bottom: 1px solid $dark25;
}

.search__wrapper {
  display: grid;
  grid-column-gap: percent(60px, 1160px);
  grid-template: 1fr / 266px 1fr;
  padding: 30px 0 70px;

  @include container;

  @media (max-width: $lg) {
    grid-template: 44px 1fr / 1fr;
    padding-top: 0;
  }
}
