.search {
  min-width: 320px;

  background-color: $white;
  border-bottom: 1px solid $dark25;
}

.search__wrapper {
  display: grid;
  grid-template: 1fr / 266px 1fr;
  padding: 30px 0 70px;

  @include container;
}
