mixin header()
  .header
    a.header__logo
      //- img(inline, src=require("Components/UIkit/header/img/logo.svg"), alt="Логотип")
      svg
        //- use (xlink:href="${icon-logo}")
        use(xlink:href="sprite.svg#icon-logo")
        
