.signin {
  @include card;
}

.signin__title {
  padding-top: 1px;
  margin-bottom: 20px;
}

.signin__fieldset {
  padding: 0;
  margin-bottom: 30px;
  border: 0;
}

.signin__email {
  margin-bottom: 10px;
}

.signin__password {
  margin-bottom: 20px;
}

.signin__footer {
  display: grid;
  grid-template: 1fr / 1fr 99px;
  align-items: center;
}

.signin__text {
  margin-right: 20px;
  line-height: 18px;
  color: $black;
}
