include ../text-field/text-field
include ../button/button

mixin signin
  section.signin
    form.signin__form
      h2.signin__title Войти
      fieldset.signin__fieldset
        legend.visually-hidden Данные для входа в сервис
        .signin__email
          +textField({ label: "Электронная почта", attributes: {type: "email", name: "email", placeholder: "Email", required: true,} })
        .signin__password
          +textField({ label: "Пароль", attributes: {type: "password", name: "password", placeholder: "Пароль", required: true,} })
        +button({text: "Войти", mode: "with-arrow", attributes: { type: "submit", class: "signin__entry-button" }})
    .signin__footer
      span.signin__text Нет аккаунта на Toxin?
      +button({link: "registration.html", mode: "bordered", text: "Создать"})
