.signin {
  @include card;

  &__title {
    @include title-section;

    padding-top: 1px;
    margin-bottom: 20px;
  }

  &__fieldset {
    padding: 0;
    margin-bottom: 30px;
    border: 0;
  }

  &__legend {
    @include visually-hidden;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__password {
    margin-bottom: 20px;
  }

  &__footer {
    display: grid;
    grid-template: 1fr / 1fr 99px;
    align-items: center;
  }

  &__text {
    margin-right: 20px;
    line-height: 18px;
    color: $black;
  }
}
