mixin range(title="Диапазон цены")
  .range
    .range__caption
      h2.range__title= title
      span.range__price-output.js-range__price-output
      input.range__input(type="text", name="min-price", value="0")
      input.range__input(type="text", name="max-price", value="0")
    input.js-range-slider(type="text", name="range-price", value="")
