.range {
  width: 266px;
  background-color: $white;

  &__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  &__title {
    padding-top: 1px;
    margin-right: 30px;
    @include label-cta-text;
  }

  &__price-output {
    display: block;
    padding-top: 1px;
    font-size: 12px;
    line-height: 14px;
    color: $dark50;
  }
}
