mixin content()
  section.content
    .content__wrapper.container
      block

mixin contentList()
  ul.content__list
    block

mixin contentItem(contentClasses)
  if(contentClasses)
    li.content__item(class=`content__item--${contentClasses}`)
      block
  else
    li.content__item
      block
