mixin content()
  main
    section.content
      .content__wrapper.container
        if (h1)
          h1.content__title= h1
        else
          h1.visually-hidden= pageTitle
        block

mixin contentSection(options)
  if !options
    - options = {}

  -
    var classes = ''
    classes += options.page ? "content__section--" + options.page : ''

  .content__section(class= classes)
    block
