mixin content()
  main
    section.content
      .content__wrapper.container
        if (h1)
          h1.content__title= h1
        else
          h1.visually-hidden= pageTitle
        block


mixin contentList()
  ul.content__list
    block

mixin contentItem(contentClasses)
  if(contentClasses)
    li.content__item(class=`content__item--${contentClasses}`)
      block
  else
    li.content__item
      block
