.field-submit {
  display: flex;
  @include input-bordered;
}

.field-submit__input {
  @include input;
}

.field-submit__button {
  flex-shrink: 0;

  @include gradient-color;

  &:focus {
    outline: none;
  }
}
