include ../input/input
include ../button/button

mixin fieldSubmit(options)
  if !options
    - options = {}

  -attributes.class = "field-submit__input"

  .field-submit()
    +input(options)&attributes(attributes)
    +button({
      type: "submit",
      iconName: "arrow_forward",
      gradientColor: true,
      mix: "field-submit__button"
      })
