-
  locals.featuresUikit = [
    {
      icon: "insert_emoticon",
      title: "Комфорт",
      text: "Шумопоглощающие стены",
    },
    {
      icon: "location_city",
      title: "Удобство",
      text: "Окно в каждой из спален",
    },
  ]
