mixin features(listName)
  include ./features-data

  - let list

  -
    if (!listName) {
      list = locals.featuresUikit
    }
    else {
      list = listName
    }

  ul.features
    for item in list
      +feature(item)

mixin feature(item)
  li.features__item
    .features__img
      i.features__icon.material-icons= item.icon
    .features__desc
      h3.features__title= item.title
      p.features__text= item.text
