mixin logo()
  a.logo(href="./index.html")
    img.logo__pic(src=require("./img/icon-logo-pic.svg"), width="40", height="40", alt="Логотип")
    img.logo__toxin(src=require("./img/icon-logo-toxin.svg"), width="54", height="14", alt="Логотип")
    
