.logo {
  display: flex;
  align-items: center;
  width: 106px;
  height: 40px;

  &__pic {
    width: 40px;
    height: 40px;
    margin-right: 12.5px;
  }

  &__toxin {
    width: 54px;
    height: 14px;
  }
}
