.calendar {
  padding: 20px;
  background-color: $white;
  border: 1px solid $dark25;
  border-radius: 4px;
}

/* Стили для плагина air-datepicer */

.datepicker {
  width: 100%;
  max-width: 320px;

  &--content {
    margin-bottom: 20px;
  }

  &--nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &--nav-action {
    cursor: pointer;

    & i {
      display: block;
      color: $primary-color;
    }
  }

  &--nav-title {
    text-align: center;
    cursor: pointer;
    @include title-element;
  }

  &--days-names {
    display: flex;

    @include label-cta-text;
  }

  &--day-name {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    text-transform: none;

    &::before {
      display: block;
      padding-top: 100%;
      content: "";
    }
  }

  &--cells {
    display: flex;
    flex-wrap: wrap;
  }

  &--cell {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark50;
    cursor: pointer;

    &::before {
      display: block;
      padding-top: 100%;
      content: "";
    }

    &.-current- {
      color: $white;
      background: $secondary-gradient;
      border-radius: 50%;
    }

    &.-current-.-focus- {
      color: $white;
      background: $primary-gradient;
      border-radius: 50%;
    }

    &.-current-.-in-range- {
      color: $dark50;
      border-radius: 0;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: "";
        background: $secondary-gradient;
        border-radius: 50%;
      }

      &:hover::before {
        display: none;
      }

      &:hover {
        background: rgb(139 164 249 / 40%);
      }
    }

    &.-focus- {
      color: $white;
      background: $primary-gradient;
      border-radius: 50%;
    }

    &.-selected- {
      color: $white;
      background: $primary-gradient;
      border-radius: 50%;
    }

    &.-selected-.-current- {
      background: $primary-gradient;
    }

    &.-selected-.-focus- {
      background: $primary-gradient;
    }

    &.-range-from-.-selected- {
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: "";
        background: linear-gradient(
          180deg,
          rgb(188 156 255 / 25%) 0%,
          rgb(139 164 249 / 25%) 100%
        );
        border-radius: 50% 0 0 50%;
      }
    }

    &.-range-to-.-selected- {
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: "";
        background: linear-gradient(
          180deg,
          rgb(188 156 255 / 25%) 0%,
          rgb(139 164 249 / 25%) 100%
        );
        border-radius: 0 50% 50% 0;
      }
    }

    &.-in-range- {
      color: $dark50;
      background: linear-gradient(
        180deg,
        rgb(188 156 255 / 25%) 0%,
        rgb(139 164 249 / 25%) 100%
      );

      &:hover {
        background: rgb(139 164 249 / 40%);
        border-radius: 0;
      }
    }
  }

  &--cell.-disabled- {
    cursor: default;

    &.-focus- {
      color: $dark50;
      background: $white;
    }
  }

  &--cell-day {
    width: 14.2857%;

    &.-other-month- {
      color: $dark25;
    }
  }

  // &--buttons {
  //   display: flex;
  //   justify-content: space-between;
  //   @include label-cta-text;
  // }

  // .datepicker--button {
  //   color: $primary-color;
  //   cursor: pointer;

  //   &:hover {
  //     color: $green;
  //   }
  // }
}
