include ../control/control

mixin calendar(options={})
  .calendar.js-calendar(data-from=options.from, data-to=options.to)
    .calendar__datepicker.js-datepicker
    .calendar__control 
      if options.control
        +control
