.total-list {
  padding: 7px 7px 13px 14px;
  list-style: none;
  border: 1px solid $dark50;
  border-top: 0;
  border-radius: 0 0 4px 4px;

  &__items {
    padding-left: 1px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__option {
    @include label-cta-text;
  }

  &__control {
    padding-top: 20px;
  }
}
