include ../control/control
include ../total/total

mixin totalList({list, control})
  .total-list.js-total-list
    ul.total-list__items
      each item, key in list 
        if key !== "common"
          -
            const total = {attributes: {
              name: key,
              value: item.value | 0
            }}

          li.total-list__item.js-total-list__item
            span.total-list__option= item.text
            .total-list__number 
              +total(total)
    if control
      .total-list__control 
        +control
