.search-room {
  @include card;
}

.search-room__title {
  margin-bottom: 21px;
  padding-top: 1px;
}

.search-room__dates {
  display: grid;
  grid-template: 1fr / repeat(2, 150px);
  justify-content: space-between;
  margin-bottom: 21px;
}

.search-room__guests {
  margin-bottom: 31px;
}
