include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button

mixin searchRoom()
  section.search-room
    form.search-room__form
      h2.search-room__title Найдём номера под ваши пожелания
      .search-room__dates
        +dateDropdown({
          mode: "range",
          from: {
            label: "Прибытие",
            attributes: {
              name: "arrival",
              required: true,
            }
          },
          to: {
            label: "Выезд",
            attributes: {
              name: "departure",
              required: true,
            }
          },
        })
      .search-room__guests
        +dropdown({
          label: "Гости",
          labelVisually: true,
          isGuestsDropdown: true,
          attributes: {
            required: true,
          }
          })
      +button({
        type: "submit",
        buttonMod: "with-arrow",
        desc: "Подобрать номер"
        })
