include ../dropdown/dropdown
include ../button/button

mixin searchRoom
  -
    const rangeDropdown = {
      mode: "range",
      inputFrom: {
        label: "Прибытие",
        attributes: { name: "arrival", required: true, },
      },
      inputTo: {
        label: "Выезд",
        attributes: { name: "departure", required: true, },
      },
    }

    const guestsDropdown = {
      mode: "guests",
      input: {
        label: "Гости",
        attributes: { required: true, }
      }
    }


  section.search-room.js-search-room
    form.search-room__form
      h2.search-room__title Найдём номера под ваши пожелания
      .search-room__dates
        +dropdown(rangeDropdown)
      .search-room__guests
        +dropdown(guestsDropdown)
      +button({text: "Подобрать номер", modifiers: {decor: ["color", "with-arrow"], size: ["wide"]}, attributes: {type: "submit"},})
