* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  height: 100%; // для прижатия подвала
}

body {
  background-color: $white;
  @include base-text;
}

.website {
  position: relative;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  min-height: 100%;
}
