/* Вычисление величины в процентах от ширины родителя (for responsive) */
@function calc-in-percent($value, $width-parent) {
  $result: calc($value * 100% / $width-parent);
  @return $result;
}

/* Шрифты */
@mixin montserrat-regular {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin montserrat-bold {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin material-icons(
  $display: inline-block,
  $font-size: 24px,
  $line-height: 1
) {
  display: $display;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Material Icons";
  font-size: $font-size;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "liga";
  line-height: $line-height;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizelegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

@mixin title-section {
  font-size: 24px;
  line-height: 29px;
  color: $title-color;
  @include montserrat-bold;
}

@mixin title-element {
  font-size: 19px;
  line-height: 23px;
  color: $title-color;
  @include montserrat-bold;
}

@mixin label-cta-text($color: $title-color) {
  font-size: 12px;
  line-height: 14px;
  color: $color;
  text-transform: uppercase;
  @include montserrat-bold;
}

@mixin base-text($line-height: 24px) {
  font-size: 14px;
  line-height: $line-height;
  color: $text-color;
  @include montserrat-regular;
}

/* Контейнер */
@mixin container {
  width: calc(#{$content-width} * 1%);
  min-width: 280px;
  max-width: 1550px; // для ширины окна 1920px
  margin: 0 auto;
}

/* Оформление input */
@mixin input($padding-right: 14px) {
  width: 100%;
  padding: 12px 14px;
  padding-right: $padding-right;
  background-color: $white;
  border: 0;
  border-radius: 4px;

  @include base-text($line-height: 18px);

  &::placeholder {
    font-size: 14px;
    line-height: 18px;
    color: $dark25;
  }

  &:hover,
  &:focus {
    border: 0;
    outline: none;
  }
}

@mixin input-bordered {
  border: 1px solid $dark25;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $dark50;
    outline: none;
  }
}

/* Оформление карточек */

@mixin card {
  width: 100%;
  min-width: 280px;
  max-width: 380px;
  padding: 39px 29px 29px;
  background-color: $white;
  border: 1px solid rgba($black, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px 0 rgba($black, 0.2);
}

/* Доступное скрытие элемента */

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}
