mixin pagination()
  .pagination
    .pagination__body
      a.pagination__button.pagination__button--prev.pagination__button--disabled(href="#")
        span.visually-hidden Назад
      a.pagination__page.pagination__page--current(href="#") 1
      a.pagination__page(href="#") 2
      a.pagination__page(href="#") 3
      span.pagination__ellipsis &hellip;
      a.pagination__page(href="#") 15
      a.pagination__button.pagination__button--next(href="#")
        span.visually-hidden Вперёд
    p.pagination__footer 1 – 12 из 100+ вариантов аренды
