.date-dropdown,
.date-dropdown__picker {
  display: block;

  background-color: $white;
}

.date-dropdown--range {
  position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;

  @media (min-width: $xs) {
    gap: 20px;
  }
}

.date-dropdown__range-input {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 0;
  height: 0;
  overflow: hidden;

  border: 0;
  visibility: hidden;
}

.date-dropdown__label {
  display: block;
  margin-bottom: 5px;
  padding-top: 1px;

  @include label-cta-text;
}

.date-dropdown__input {
  background-image: url("./img/arrow.svg");
  background-repeat: no-repeat;
  background-position: top 17px right 15px;
  cursor: pointer;
  @include input;
  @include input-bordered;

  & {
    padding-right: 44px;
  }

  &::placeholder {
    color: $dark75;
  }
}

/* Стили для плагина air-datepicer */
$width-parent: 380px;
$max-width: 320px;
$width-content: 278px;
$nav-margin-bottom: 30px;

.datepickers-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 80.6%; //ширина контейнера
  min-width: 280px;
  max-width: 380px;
}

@media print {
  .datepickers-container {
    display: none;
  }
}

.datepicker {
  position: absolute;
  left: -100000px;
  z-index: 100;

  width: percent($max-width, $width-parent);
  max-width: 380px;

  padding: 20px;

  background-color: $white;

  border: 1px solid $dark25;
  border-radius: 4px;
  box-shadow: 0px 10px 20px $dark05;
  opacity: 0;

  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
}

.datepicker.-from-top- {
  transform: translateY(-8px);
}
.datepicker.-from-right- {
  transform: translateX(8px);
}
.datepicker.-from-bottom- {
  transform: translateY(8px);
}
.datepicker.-from-left- {
  transform: translateX(-8px);
}
.datepicker.active {
  transform: translate(0);
  opacity: 1;

  transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
}

.datepicker-inline .datepicker {
  position: static;
  right: auto;
  left: auto;

  width: 100%;
  max-width: 320px;

  transform: none;
  opacity: 1;
}

.datepicker--pointer {
  display: none;
}

.datepicker--content {
  margin-bottom: 20px;
}

.datepicker--body {
  display: none;
}
.datepicker--body.active {
  display: block;
}

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: percent($nav-margin-bottom, $width-content);
}

.datepicker--nav-action {
  cursor: pointer;
  & i {
    display: block;

    color: $primary-color;
  }
}

.datepicker--nav-title {
  text-align: center;

  cursor: pointer;
  @include title-element;
}

.datepicker--days-names {
  display: flex;

  @include label-cta-text;
}

.datepicker--day-name {
  display: flex;

  flex: 1;
  align-items: center;
  justify-content: center;

  color: $primary-color;
  text-transform: none;

  &::before {
    display: block;
    padding-top: 100%;

    content: "";
  }
}

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $dark50;

  cursor: pointer;

  &::before {
    display: block;
    padding-top: 100%;

    content: "";
  }

  &.-current- {
    color: $white;

    background: $secondary-gradient;
    border-radius: 50%;
  }

  &.-current-.-focus- {
    color: $white;

    background: $primary-gradient;
    border-radius: 50%;
  }

  &.-current-.-in-range- {
    color: $dark50;

    border-radius: 0;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: $secondary-gradient;
      border-radius: 50%;

      content: "";
    }

    &:hover::before {
      display: none;
    }

    &:hover {
      background: rgba(139, 164, 249, 0.4);
    }
  }

  &.-focus- {
    color: $white;

    background: $primary-gradient;
    border-radius: 50%;
  }

  &.-selected- {
    color: $white;

    background: $primary-gradient;
    border-radius: 50%;
  }

  &.-selected-.-current- {
    background: $primary-gradient;
  }

  &.-selected-.-focus- {
    background: $primary-gradient;
  }

  &.-range-from-.-selected- {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: linear-gradient(
        180deg,
        rgba(188, 156, 255, 0.25) 0%,
        rgba(139, 164, 249, 0.25) 100%
      );
      border-radius: 50% 0 0 50%;

      content: "";
    }
  }

  &.-range-to-.-selected- {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: linear-gradient(
        180deg,
        rgba(188, 156, 255, 0.25) 0%,
        rgba(139, 164, 249, 0.25) 100%
      );
      border-radius: 0 50% 50% 0;

      content: "";
    }
  }

  &.-in-range- {
    color: $dark50;

    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 249, 0.25) 100%
    );

    &:hover {
      background: rgba(139, 164, 249, 0.4);
      border-radius: 0;
    }
  }
}

.datepicker--cell.-disabled- {
  cursor: default;

  &.-focus- {
    color: $dark50;

    background: $white;
  }
}

.datepicker--cell-day {
  width: 14.28571%;

  &.-other-month- {
    color: $dark25;
  }
}

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  @include label-cta-text;
}

.datepicker--button {
  color: $primary-color;

  cursor: pointer;

  &:hover {
    color: $green;
  }
}
