include ../input/input
include ../button/button

mixin dateDropdown(options)
  if !options
    - options = {}

  if options.mode === "filter"
    .date-dropdown.date-dropdown--closed.js-filter.js-date-dropdown
      .date-dropdown__body
        +datePicker(options.filter, options.mode, className = "js-input")
      +calendar()

  if options.mode === "range"
    .date-dropdown.date-dropdown--closed.date-dropdown--range.js-range.js-date-dropdown
      .date-dropdown__body
        +datePicker(options.from, options.mode, className = "js-from")
        +datePicker(options.to, options.mode, className = "js-to")
      +calendar()

mixin datePicker(options, mode, className)
  if !options
    - options = {}

  if !options.attributes
    - options.attributes = {}

  -
    options.attributes.class = []
    options.attributes.type = "text"
    options.attributes.readonly = true
    options.attributes["data-action"] = "show"

    options.attributes.class.push("date-dropdown__input")

    if (className) {
      options.attributes.class.push(className)
    }

    if (mode === "range") {
      options.isDateMask = true
    }

  label.date-dropdown__picker
    span.date-dropdown__label= options.label
    +input(options)

mixin calendar()
  .date-dropdown__calendar.js-calendar
    +button({
      mix: "date-dropdown__button",
      type: "button",
      buttonMod: "text",
      desc: "Применить",
      dataAction: "apply",
      })
