include ../input/input

mixin dateDropdown(options)
  if !options
    - options = {}

  if options.mode === "range"
    .date-dropdown.date-dropdown--range
      input.js-range-date-dropdown.date-dropdown__range-input(type="text")
      +dateDropdownPicker(options.from, options.mode, className="js-date-dropdown-from")
      +dateDropdownPicker(options.to, options.mode, className="js-date-dropdown-to")

  if options.mode === "filter"
    +dateDropdownPicker(options.filter, options.mode)


mixin dateDropdownPicker(options, mode, className="")
  if !options
    - options = {}

  if !options.attributes
    - options.attributes = {}

  -
    let wrapClass = ""

    options.attributes.class = []
    options.attributes.class.push("date-dropdown__input")
    options.attributes.type = "text"
    options.attributes.readonly = true

    if (className) {
      options.attributes.class.push(className)
    }

    if (mode === "range") {
      wrapClass = "date-dropdown__picker";
      options.isDateMask = true
    }

    if (mode === "filter") {
      wrapClass = "date-dropdown"
      options.attributes.class.push("js-filter-date-dropdown")
      options.attributes.value = "19 авг - 23 авг"
    }

  label(class=wrapClass)
    span.date-dropdown__label= options.label
    +input(options)
