.date-dropdown {
  position: relative;
}

.date-dropdown__calendar {
  position: absolute;
  top: calc(100% + 5.56px);
  z-index: 102;
}

.date-dropdown--range {
  .date-dropdown__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;

    @media (min-width: $xs) {
      gap: 20px;
    }
  }
}

.date-dropdown--closed {
  .date-dropdown__calendar {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(8px);
  }
}

.date-dropdown--opened {
  .date-dropdown__calendar {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    transform: translateY(0);
  }
}

.date-dropdown__label {
  display: block;
  padding-top: 1px;
  margin-bottom: 5px;

  @include label-cta-text;
}

.date-dropdown__input {
  cursor: pointer;
  background-image: url("./img/arrow.svg");
  background-repeat: no-repeat;
  background-position: top 17px right 15px;

  &::placeholder {
    color: $dark75;
  }

  @include input($padding-right: 44px);
  @include input-bordered;
}

.date-dropdown__button {
  position: absolute;
  right: 20px;
  bottom: 20px;

  &:hover {
    color: $green;
  }
}

/* Стили для плагина air-datepicer */
.datepicker {
  width: 100%;
  max-width: 320px;
  padding: 20px;
  background-color: $white;
  border: 1px solid $dark25;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 $dark05;
}

.datepicker--content {
  margin-bottom: 20px;
}

.datepicker--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.datepicker--nav-action {
  cursor: pointer;

  & i {
    display: block;
    color: $primary-color;
  }
}

.datepicker--nav-title {
  text-align: center;
  cursor: pointer;
  @include title-element;
}

.datepicker--days-names {
  display: flex;

  @include label-cta-text;
}

.datepicker--day-name {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  text-transform: none;

  &::before {
    display: block;
    padding-top: 100%;
    content: "";
  }
}

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark50;
  cursor: pointer;

  &::before {
    display: block;
    padding-top: 100%;
    content: "";
  }

  &.-current- {
    color: $white;
    background: $secondary-gradient;
    border-radius: 50%;
  }

  &.-current-.-focus- {
    color: $white;
    background: $primary-gradient;
    border-radius: 50%;
  }

  &.-current-.-in-range- {
    color: $dark50;
    border-radius: 0;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: "";
      background: $secondary-gradient;
      border-radius: 50%;
    }

    &:hover::before {
      display: none;
    }

    &:hover {
      background: rgb(139 164 249 / 40%);
    }
  }

  &.-focus- {
    color: $white;
    background: $primary-gradient;
    border-radius: 50%;
  }

  &.-selected- {
    color: $white;
    background: $primary-gradient;
    border-radius: 50%;
  }

  &.-selected-.-current- {
    background: $primary-gradient;
  }

  &.-selected-.-focus- {
    background: $primary-gradient;
  }

  &.-range-from-.-selected- {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: "";
      background: linear-gradient(
        180deg,
        rgb(188 156 255 / 25%) 0%,
        rgb(139 164 249 / 25%) 100%
      );
      border-radius: 50% 0 0 50%;
    }
  }

  &.-range-to-.-selected- {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: "";
      background: linear-gradient(
        180deg,
        rgb(188 156 255 / 25%) 0%,
        rgb(139 164 249 / 25%) 100%
      );
      border-radius: 0 50% 50% 0;
    }
  }

  &.-in-range- {
    color: $dark50;
    background: linear-gradient(
      180deg,
      rgb(188 156 255 / 25%) 0%,
      rgb(139 164 249 / 25%) 100%
    );

    &:hover {
      background: rgb(139 164 249 / 40%);
      border-radius: 0;
    }
  }
}

.datepicker--cell.-disabled- {
  cursor: default;

  &.-focus- {
    color: $dark50;
    background: $white;
  }
}

.datepicker--cell-day {
  width: 14.2857%;

  &.-other-month- {
    color: $dark25;
  }
}

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  @include label-cta-text;
}

.datepicker--button {
  color: $primary-color;
  cursor: pointer;

  &:hover {
    color: $green;
  }
}
