.tooltip {
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  color: $dark25;
  font-size: 12px;
  line-height: 14px;

  border: 1px solid $dark25;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "i";
  }

  &::after {
    position: absolute;
    bottom: calc(100% - 5px);
    left: 50%;
    z-index: 100;

    display: block;

    width: 10px;
    height: 10px;

    border: 5px solid transparent;
    border-top-color: $grey;
    border-bottom-width: 0;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;

    content: "";
    user-select: none;
    pointer-events: none;
  }

  &:hover > .tooltip__text,
  &:hover::after {
    visibility: visible;
    opacity: 1;

    transition: all 0.2s;
  }
}

.tooltip__text {
  position: absolute;
  bottom: calc(100% + 5px);
  z-index: 99;

  display: block;
  min-width: 100px;
  max-width: 170px;

  padding: 5px;
  overflow: hidden;

  color: $dark75;
  white-space: nowrap;

  text-align: center;
  text-overflow: ellipsis;

  background: $grey;
  border-radius: 22px;
  visibility: hidden;

  opacity: 0;

  transition: all 0.2s;

  user-select: none;
  pointer-events: none;

  &::before {
  }
}
