.tooltip {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 14px;
  color: $dark25;
  cursor: pointer;
  border: 1px solid $dark25;
  border-radius: 50%;

  &::before {
    content: "i";
  }

  &::after {
    position: absolute;
    bottom: calc(100% - 5px);
    left: 50%;
    z-index: 100;
    display: block;
    width: 10px;
    height: 10px;
    pointer-events: none;
    visibility: hidden;
    content: "";
    user-select: none;
    border: 5px solid transparent;
    border-top-color: $grey;
    border-bottom-width: 0;
    opacity: 0;
    transform: translateX(-50%);
  }

  &:hover::after {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s;
  }

  &__text {
    position: absolute;
    bottom: calc(100% + 5px);
    z-index: 99;
    display: block;
    min-width: 100px;
    max-width: 170px;
    padding: 5px;
    overflow: hidden;
    color: $dark75;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    visibility: hidden;
    user-select: none;
    background: $grey;
    border-radius: 22px;
    opacity: 0;
    transition: all 0.2s;
  }

  &:hover > &__text {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s;
  }
}
