-
  const guestsList = [
    {
      text: "Взрослые",
      name: "adults",
    },
    {
      text: "Дети",
      name: "children",
    },
    {
      text: "Младенцы",
      name: "baby",
    }
  ]
