.guests {
  background-color: $white;
  border: 1px solid $dark50;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.guests__list {
  padding: 6px 7px 6px 15px;
  list-style: none;
}

.guests__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 7px;
  }
}

.guests__option {
  @include label-cta-text;
}

.guests__number {
  display: flex;
}

.guests__button {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid $dark25;
  border-radius: 50%;

  &::before {
    position: absolute;
    font-size: 18px;
    line-height: 1;
    color: $dark50;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
    border-color: $dark05;

    &::before {
      color: $dark05;
    }
  }

  &[data-action="decrease"]::before {
    content: "-";
  }

  &[data-action="increase"]::before {
    content: "+";
  }
}

.guests__total {
  width: 32px;
  text-align: center;
  pointer-events: none;
  user-select: none;
  background-color: inherit;
  border: 0;
  @include label-cta-text;
}
