include ../input/input

mixin text-field(options)
  if !options
    - options = {}

  if !options.attributes
    - options.attributes = {}

  - options.attributes.class = "text-field__input"

  - let hiddenClass = options.labelVisually ? "" : "visually-hidden"

  label.text-field
    span.text-field__label(class=hiddenClass)= options.label
    +input(options)
