include ../input/input

mixin textField(options)
  if !options
    - options = {};

  if !options.attributes
    - options.attributes = {};

  - options.attributes.class = "text-field__input";
  - options.attributes.autocomplete = "off";

  - let hiddenClass = options.labelVisually ? "" : "visually-hidden";

  label.text-field
    span.text-field__label(class=hiddenClass)= options.label
    +input(options)
