.text-field {
  display: block;
  max-width: 320px;
  background-color: $white;
}

.text-field__label {
  display: block;
  padding-top: 1px;
  margin-bottom: 5px;

  @include label-cta-text;
}

.text-field__input {
  @include input;
  @include input-bordered;
}
