include ../input/input

mixin text-field(options)
  if !options
    - options = {}

  - attributes.class = "text-field__input"

  .text-field
    if options.label
      label.text-field__label(for=options.id)= options.label
    +input(options)&attributes(attributes)
