include ../input/input

mixin textField({label, labelVisually, attributes: fieldAttributes = {}})
  - fieldAttributes.class = "text-field__input";
  - fieldAttributes.autocomplete = "off";

  - let hiddenClass = labelVisually ? "" : "text-field__label_visually-hidden";

  label.text-field
    span.text-field__label(class=hiddenClass)= label
    +input({attributes: fieldAttributes})
