.radio {
  display: flex;
  align-items: flex-end;
  line-height: 18px;
  cursor: pointer;
  user-select: none;

  &__input {
    @include visually-hidden;
  }

  &__icon {
    position: relative;
    display: block;
    flex-shrink: 0;
    align-self: flex-start;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid $dark25;
    border-radius: 50%;
  }

  &__text {
    color: $dark50;
  }

  /* Checked */

  &__input:checked + &__icon {
    border-color: $purple;
  }

  &__input:checked + &__icon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    background: $primary-gradient;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__input:checked ~ &__text {
    color: $dark75;
  }
}
