.dropdown {
  width: 320px;

  background-color: inherit;

  &--date {
    width: 150px;
  }

  &--filter-date {
    width: 266px;
  }
}

.dropdown__label {
  display: block;
  margin-bottom: 5px;
  padding-top: 1px;

  @include label-cta-text;
}

.dropdown__input {
  background-image: url("./img/arrow.svg");
  background-repeat: no-repeat;
  background-position: top 17px right 15px;
  @include input;
  @include input-bordered;

  & {
    padding-right: 44px;
  }

  &::placeholder {
    color: $dark75;
  }
}

.dropdown__icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 42px;

  color: $dark50;

  background-color: $white;
  border-radius: 4px;
}
