-
  locals.comfortList = [
    {
      option: "Спальни",
      defaultVal: 2,
      data: "bedroom",
    },
    {
      option: "Кровати",
      defaultVal: 2,
      data: "bed",
    },
    {
      option: "Ванные комнаты",
      defaultVal: 0,
      data: "bathroom",
    }
  ];
