include ../input/input
include ../button/button

mixin dropdown(options)
  if !options
    - options = {}

  - let classes = []

  if options.isGuestsDropdown
    - attributes.type = "text"
    - attributes.placeholder = "Сколько гостей"

  if options.isRoomsDropdown
    - classes.push("dropdown--rooms")
    - attributes.type = "text"
    - options.isDropdownSelect = true

  if options.isDateDropdown
    - options.isDateMask = true
    - options.isDatepicker = true
    - classes.push("dropdown--date")

  if options.isFilterDateDropdown
    - options.isDatepickerFilter = true
    - classes.push("dropdown--filter-date")


  .dropdown(class=classes)
    if options.label
      label.dropdown__label(for=options.id)= options.label
    - attributes.class = "dropdown__input"
    +input(options)&attributes(attributes)
    if options.isDropdownSelect
      +dropdownSelect()


mixin dropdownSelect()
  .dropdown__select
    ul.dropdown__list
      +dropdownItem()
    .dropdown__nav
      +button({
        mix: "dropdown__nav-button",
        type: "button",
        desc: "Очистить"
        })
      +button({
        mix: "dropdown__nav-button",
        type: "button",
        desc: "Применить"
        })

mixin dropdownItem()
  li.dropdown__item
    span.dropdown__category Спальни
    .dropdown__number
      button.dropdown__number-button.dropdown__number-button--minus(type="button")
      +input()(
        class = "dropdown__number-input"
        type = "number"
        disabled = true
        maxlength = 2
        value = "2"
        )
      button.dropdown__number-button.dropdown__number-button--plus(type="button")
