-
  locals.comfortList = [
    {
      option: "Спальни",
      defaultVal: 2,
      dataOption: "bedroom",
    },
    {
      option: "Кровати",
      defaultVal: 2,
      dataOption: "bed",
    },
    {
      option: "Ванные комнаты",
      dataOption: "bathroom",
    }
  ]

-
  locals.guestsList = [
    {
      option: "Взрослые",
      dataOption: "guest",
    },
    {
      option: "Дети",
      dataOption: "guest",
    },
    {
      option: "Младенцы",
      dataOption: "baby",
      dataHideAtZero: "true",
    }
  ]
