include ../input/input

mixin dropdown(options)
  if !options
    - options = {}

  - attributes.class = "dropdown__input"

  - let classes = []

  if options.isDropdownGuests
    - attributes.type = "text"
    - attributes.placeholder = "Сколько гостей"

  if options.isDropdownDate
    - options.isDateMask = true
    - options.isDatepicker = true
    - classes.push("dropdown--date")


  .dropdown(class=classes)
    if options.label
      label.dropdown__label(for=options.id)= options.label
    +input(options)&attributes(attributes)
