include ../input/input
include ../button/button

mixin dropdown(options)
  include ./dropdown-data

  if !options
    - options = {}

  if !options.attributes
    - options.attributes = {}

  - let classes = []
  - let labelHiddenClass = options.labelVisually ? "" : "visually-hidden"

  - options.attributes.class = ["dropdown__input", "js-dropdown__input"]
  - options.attributes.type = "text"
  - options.attributes.readonly = true

  if options.isGuestsDropdown
    - options.attributes.placeholder = "Сколько гостей"
    - options.list = locals.guestsList
    - options.addButtons = true
    - classes.push("dropdown--guests")

  if options.isComfortDropdown
    - options.list = locals.comfortList
    - classes.push("dropdown--comfort")

  .js-dropdown.dropdown.dropdown--hidden(class=classes, data-show = options.dataShow)
    label.dropdown__body
      span.dropdown__label(class=labelHiddenClass)= options.label
      +input(options)
    .dropdown__select
      ul.dropdown__list
        for item in options.list
          +dropdownItem(item, options.guests)

      if options.addButtons
        .dropdown__buttons
          +button({
            mix: "dropdown__button",
            buttonMod: "text",
            type: "button",
            desc: "Очистить",
            dataAction: "clear",
            })
          +button({
            mix: "dropdown__button",
            buttonMod: "text",
            type: "button",
            desc: "Применить",
            dataAction: "apply",
            })

mixin dropdownItem(item, guests)
  - let value = ""

  if guests
    each val, key in guests
      if key === item.name
        - value = val
  else
    - guests = {}
    - value = item.defaultVal

  li.dropdown__item.js-dropdown__item(data-option=item.dataOption)
    span.dropdown__option= item.option

    .dropdown__number.js-dropdown__number
      button.dropdown__number-button(type="button", data-action="minus")
      input.dropdown__total.js-dropdown__total(
        type = "number"
        readonly = true
        value = value
        name = item.name
        )
      button.dropdown__number-button(type="button", data-action="plus")
