include ../input/input

mixin dropdown(options)
  if !options
    - options = {}

  - let classes = []

  if options.isGuestsDropdown
    - attributes.type = "text"
    - attributes.placeholder = "Сколько гостей"

  if options.isDateDropdown
    - options.isDateMask = true
    - options.isDatepicker = true
    - classes.push("dropdown--date")

  if options.isFilterDateDropdown
    - options.isDatepickerFilter = true
    - classes.push("dropdown--filter-date")


  .dropdown(class=classes)
    if options.label
      label.dropdown__label(for=options.id)= options.label
    - attributes.class = "dropdown__input"
    +input(options)&attributes(attributes)
