include ../input/input
include ../total-list/total-list
include ../calendar/calendar

mixin dropdown(options={})
  include ./data/dropdownData

  - const helpers = require("../../helpers/helpers.js");

  each dropdown, mode in dropdowns
    if options.mode === mode
      .dropdown.js-dropdown&attributes(helpers.merge(dropdown.attributes, options.attributes))
        .dropdown__header 
          if Array.isArray(dropdown.input)
            each inp in dropdown.input
              - const key = `input${inp.name}`;
              +dropdownInput(helpers.merge(inp, options[key]))
          else
            +dropdownInput(helpers.merge(dropdown.input, options.input))
        .dropdown__body(data-mode=mode)
          +#{dropdown.body.name}(helpers.merge(dropdown.body.data, options.body))

mixin dropdownInput(options={})
  if !options.attributes
    - options.attributes = {};

  label
    span.dropdown__label= options.label
    +input(options)
