-
  locals.comfortList = [
    {
      option: "Спальни",
      defaultVal: 2,
      data: "bedroom",
    },
    {
      option: "Кровати",
      defaultVal: 2,
      data: "bed",
    },
    {
      option: "Ванные комнаты",
      data: "bathroom",
    }
  ]

-
  locals.guestsList = [
    {
      option: "Взрослые",
      data: "guest",
    },
    {
      option: "Дети",
      data: "guest",
    },
    {
      option: "Младенцы",
      data: "baby",
    }
  ]
