-
  locals.comfortList = [
    {
      option: "Спальни",
      defaultVal: 2,
      dataOption: "bedroom",
      name: "bedroom",
    },
    {
      option: "Кровати",
      defaultVal: 2,
      dataOption: "bed",
      name: "bed",
    },
    {
      option: "Ванные комнаты",
      dataOption: "bathroom",
      name: "bathroom",
    }
  ]

-
  locals.guestsList = [
    {
      option: "Взрослые",
      dataOption: "guest",
      name: "adults",
    },
    {
      option: "Дети",
      dataOption: "guest",
      name: "children",
    },
    {
      option: "Младенцы",
      dataOption: "baby",
      name: "baby",
    }
  ]
