mixin bulletList(listName)
  include ./bullet-list-data

  - let list

  -
    if (!listName) {
      list = locals.rules
    }
    else {
      list = listName
    }

  ul.bullet-list
    for item in list
      +bulletListItem(item)

mixin bulletListItem(item)
  li.bullet-list__item!= item.text
