-
  locals.rules = [
    {
      text: "Нельзя с питомцами",
    },
    {
      text: "Без вечеринок и мероприятий",
    },
    {
      text: "Время прибытия — после 13:00,<br>а выезд до 12:00",
    },
  ]
