.catalog-result {
  background-color: $white;

  &__title {
    @include title-section;

    padding-top: 1px;
    margin-bottom: 20.5px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    row-gap: 21px;
    column-gap: 12px;
    justify-content: space-between;
    justify-items: center;
  }
}
