.like {
  display: flex;
  align-items: center;
  min-width: 40px;
  padding: 3px 4px;
  color: $dark25;
  cursor: pointer;
  background-color: $white;
  border: 1px solid $dark25;
  border-radius: 10px;
  outline: none;

  &__value {
    display: flex;
    font-size: 10px;
    line-height: 12px;

    &::before {
      margin-right: 7px;
      content: "favorite_border";

      @include material-icons(
        $display: block,
        $font-size: 10px,
        $line-height: 12px
      );
    }
  }

  &_actual {
    color: $primary-color;
    background-image: linear-gradient($white, $white), $primary-gradient;
    background-clip: padding-box, border-box;
    border: 1px solid transparent;
  }

  &_actual &__value::before {
    margin-right: 5px;
    content: "favorite";
  }
}
