include ../button/button

mixin control
  .control.js-control
    .control__button
      +button({modifiers: {decor: ["text"]}, text: "Очистить", attributes: { type: "button", "data-action": "clear" }})
    .control__button
      +button({modifiers: {decor: ["text"]}, text: "Применить", attributes: { type: "button", "data-action": "apply" }})
