extends ../base/base-uikit/base-uikit.pug

include ../../components/pages-nav/pages-nav

block variables
  -
    const pageTitle = "FSD";
    const pagesNavLists = [
      {
        caption: "UIkit pages",
        links: [
          {
          title: "Colors & Type",
          href: "colors-and-type.html",
          },
          {
            title: "Form elements",
            href: "form-elements.html",
          },
          {
            title: "Cards",
            href: "cards.html",
          },
          {
            title: "Headers & Footers",
            href: "headers-and-footers.html",
          },
        ]
      },
      {
        caption: "Web pages",
        links: [
          {
            title: "Landing page",
            href: "landing-page.html",
          },
          {
            title: "Registration",
            href: "registration.html",
          },
          {
            title: "Sign in",
            href: "login.html",
          },
          {
            title: "Search",
            href: "search.html",
          },
          {
            title: "Room details",
            href: "room-details.html",
          },
        ]
      }
    ];

block content
  +pagesNav(pagesNavLists)
