.signup {
  @include card;

  &__title {
    padding-top: 1px;
    margin-bottom: 20px;
  }

  &__fieldset {
    padding: 0;
    margin-bottom: 20px;
    border: 0;

    &:last-child {
      margin-bottom: 24px;
    }
  }

  &__name,
  &__surname {
    margin-bottom: 10px;
  }

  &__gender {
    display: flex;
    margin-bottom: 23.56px;

    & > :first-child {
      margin-right: 20px;
    }
  }

  &__legend {
    padding-top: 1px;
    margin-bottom: 5px;
    @include label-cta-text;
  }

  &__email,
  &__password {
    margin-bottom: 10px;
  }

  &__payment-button {
    margin-bottom: 30px;
  }

  &__footer {
    display: grid;
    grid-template: 1fr / 1fr 99px;
    align-items: center;
  }

  &__text {
    margin-right: 20px;
    line-height: 18px;
    color: $black;
  }
}
