.review {
  background-color: $white;

  &__header {
    display: flex;
  }

  &__avatar {
    position: relative;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    overflow: hidden;
    background-color: $grey;
    border: 2px solid $white;
    border-radius: 50%;
    box-shadow: 0 10px 20px 0 rgba($dark, 0.1);
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 48px;
    max-width: none;
    height: 48px;
    transform: translate(-50%, -50%);
  }

  &__info {
    padding-top: 3px;
  }

  &__author {
    display: block;
    @include base-text;
    @include montserrat-bold;
  }

  &__date {
    display: block;
  }

  &__body {
    display: flex;
    padding: 9px 0 0 4px;
  }

  &__like {
    flex-shrink: 0;
    margin-right: 14px;
  }

  &__text {
    text-align: justify;
  }
}
