include ../input/input
include ../button/button

mixin subscriptionField()
  .subscription-field
    +input({
      attributes: {
        class: "subscription-field__input",
        type: "email",
        placeholder: "Email",
        required: true,
      }
      })
    +button({
      type: "submit",
      iconName: "arrow_forward",
      hiddenDesc: "Подписаться",
      })
