include ../logo/logo
include ../subscription/subscription
include ../social/social

mixin footer()
  include ./footer-data
  - let links = locals.links

  .footer
    .footer__wrapper
      .footer__top
        .footer__logo
          .footer__logo-pic
            +logo()
          p.footer__desc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        ul.footer__links
          for column in links
            +footerColumn(column)
        .footer__subscription
          h2.footer__title.footer__title--subscription Подписка
          p.footer__text Получайте специальные предложения и новости сервиса
          .footer__subscription-form
            +subscription()
      .footer__bottom
        p.footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .footer__social
          +social()


mixin footerColumn(column)
  li.footer__column
    h2.footer__title= column.heading
    ul.footer__list
      for link in column.list
        +footerLink(link)


mixin footerLink(link)
  li.footer__item
    a.footer__link(href=link.href)= link.title
