-
  locals.links = [
    {
      heading: "Навигация",
      list: [
        {
          title: "О нас",
          href: "/mock-address/change-me",
        },
        {
          title: "Новости",
          href: "/mock-address/change-me",
        },
        {
          title: "Служба поддержки",
          href: "/mock-address/change-me",
        },
        {
          title: "Услуги",
          href: "/mock-address/change-me",
        },
      ],
    },
    {
      heading: "О нас",
      list: [
        {
          title: "О сервисе",
          href: "/mock-address/change-me",
        },
        {
          title: "Наша команда",
          href: "/mock-address/change-me",
        },
        {
          title: "Вакансии",
          href: "/mock-address/change-me",
        },
        {
          title: "Инвесторы",
          href: "/mock-address/change-me",
        },
      ],
    },
    {
      heading: "Служба поддержки",
      list: [
        {
          title: "Соглашения",
          href: "/mock-address/change-me",
        },
        {
          title: "Сообщества",
          href: "/mock-address/change-me",
        },
        {
          title: "Связь с нами",
          href: "/mock-address/change-me",
        },
      ],
    },
  ]
