.datepickers-container {
  position: absolute;
  top: 0;
  left: 0;
}

@media print {
  .datepickers-container {
    display: none;
  }
}

.datepicker {
  position: absolute;
  left: -100000px;
  z-index: 100;

  width: 320px;
  padding: 20px;

  background-color: $white;

  border: 1px solid $dark25;
  border-radius: 4px;
  box-shadow: 0px 10px 20px $dark05;
  opacity: 0;

  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
}

.datepicker.-from-top- {
  transform: translateY(-8px);
}
.datepicker.-from-right- {
  transform: translateX(8px);
}
.datepicker.-from-bottom- {
  transform: translateY(8px);
}
.datepicker.-from-left- {
  transform: translateX(-8px);
}
.datepicker.active {
  transform: translate(0);
  opacity: 1;

  transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
}

.datepicker-inline .datepicker {
  position: static;
  right: auto;
  left: auto;

  transform: none;
  opacity: 1;
}

.datepicker--pointer {
  display: none;
}

.datepicker--content {
  margin-bottom: 20px;
}

.datepicker--body {
  display: none;
}
.datepicker--body.active {
  display: block;
}

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.datepicker--nav-action {
  cursor: pointer;
  & i {
    display: block;

    color: $primary-color;
  }
}

.datepicker--nav-title {
  cursor: pointer;
  @include title-element;
}

.datepicker--days-names {
  display: flex;

  @include label-cta-text;
}

.datepicker--day-name {
  display: flex;

  flex: 1;
  align-items: center;
  justify-content: center;
  height: 40px;

  color: $primary-color;
  text-transform: none;
}

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  color: $dark50;

  cursor: pointer;

  &.-current- {
    color: $white;

    background: $secondary-gradient;
    border-radius: 50%;
  }

  &.-current-.-focus- {
    color: $white;

    background: $primary-gradient;
    border-radius: 50%;
  }

  &.-current-.-in-range- {
    color: $dark50;

    border-radius: 0;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: $secondary-gradient;
      border-radius: 50%;

      content: "";
    }

    &:hover::before {
      display: none;
    }

    &:hover {
      background: rgba(139, 164, 249, 0.4);
    }
  }

  &.-focus- {
    color: $white;

    background: $primary-gradient;
    border-radius: 50%;
  }

  &.-selected- {
    color: $white;

    background: $primary-gradient;
    border-radius: 50%;
  }

  &.-selected-.-current- {
    background: $primary-gradient;
  }

  &.-selected-.-focus- {
    background: $primary-gradient;
  }

  &.-range-from-.-selected- {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: linear-gradient(
        180deg,
        rgba(188, 156, 255, 0.25) 0%,
        rgba(139, 164, 249, 0.25) 100%
      );
      border-radius: 50% 0 0 50%;

      content: "";
    }
  }

  &.-range-to-.-selected- {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: linear-gradient(
        180deg,
        rgba(188, 156, 255, 0.25) 0%,
        rgba(139, 164, 249, 0.25) 100%
      );
      border-radius: 0 50% 50% 0;

      content: "";
    }
  }

  &.-in-range- {
    color: $dark50;

    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 249, 0.25) 100%
    );

    &:hover {
      background: rgba(139, 164, 249, 0.4);
      border-radius: 0;
    }
  }
}

.datepicker--cell.-disabled- {
  cursor: default;

  &.-focus- {
    color: $dark50;

    background: $white;
  }
}

.datepicker--cell-day {
  width: 14.28571%;

  &.-other-month- {
    color: $dark25;
  }
}

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  @include label-cta-text;
}

.datepicker--button {
  color: $primary-color;

  cursor: pointer;

  &:hover {
    color: $green;
  }

  &:last-child {
    order: -1;
  }
}
