extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/UIkit/colors/colors
include ../../../components/UIkit/type/type

block variables
  - var pageTitle = "Colors & Type"
  include ../../../components/UIkit/colors/colors-data

block content
  +content()
    +colors(colorsList)
    +type()
