extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/UIkit/colors/colors
include ../../../components/UIkit/type/type

block variables
  - var pageTitle = "Colors & Type"
  - var contentClasses = "center"
  include ./colors-data.pug
  //- - var uikitClass = "uikit-page--theme-light"

block content
  h1.visually-hidden Colors and type
  +content()
    +contentList()
      +contentItem(contentClasses)
        +colors(colorsList)
      +contentItem(contentClasses)
        +type()
