.filter {
  background-color: $white;
}

.filter--closed {
  @media (max-width: $lg) {
    position: relative;

    .filter__body {
      position: absolute;

      transform: translateY(-150%);

      transition: all 0.3s;
    }

    .filter__toggle {
      position: absolute;
      top: 150%;
      left: 50%;

      transform: translateX(-50%);
    }

    .filter__toggle--close {
      display: none;
    }

    .filter__toggle--filter {
      display: flex;
    }

    .filter__overlay {
      display: none;

      opacity: 0;

      transition: all 0.3s;
    }
  }
}

.filter--opened {
  @media (max-width: $lg) {
    .filter__body {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 101;

      max-height: 100vh;
      overflow-y: auto;

      transform: translateY(0);

      transition: all 0.3s;
    }

    .filter__toggle {
      margin-left: auto;
    }

    .filter__toggle--close {
      display: block;
    }

    .filter__toggle--filter {
      display: none;
    }

    .filter__overlay {
      display: block;

      opacity: 1;

      transition: all 0.3s;
    }
  }
}

.filter__body {
  @media (max-width: $lg) {
    width: 100%;

    background-color: $white;

    box-shadow: 0 10px 20px 0 $dark25;
  }
}

.filter__toggle {
  display: none;

  @media (max-width: $lg) {
    position: relative;

    display: block;
    min-width: 44px;
    height: 44px;

    background-color: transparent;

    border: 0;
    outline: none;

    cursor: pointer;
  }
}

.filter__toggle--filter {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.filter__toggle-icon {
  margin-right: 5px;

  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filter__toggle-text {
  color: $dark50;
  font-size: 12px;
  line-height: 14px;
}

.filter__toggle--close {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  background: $primary-gradient;
  -webkit-background-clip: text;
  transform: translate(-50%, -50%);
  -webkit-text-fill-color: transparent;
}

.filter__overlay {
  @media (max-width: $lg) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100vh;

    background-color: $dark05;
  }
}

.filter__wrapper {
  @media (max-width: $lg) {
    padding: 30px 0;

    @include container;
  }
}

.filter__form {
  @media (max-width: $lg) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
  }
}

.filter__item {
  width: 266px;
  margin-bottom: 30px;

  @media (max-width: $lg) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__item--dates {
  margin-bottom: 20px;

  @media (max-width: $lg) {
    margin-bottom: 0;
  }
}

.filter__item--amenities {
  margin-top: -15px;
}

.filter__range-desc {
  padding-top: 13.5px;

  color: $dark50;
  font-size: 12px;
  line-height: 14px;
}

.filter__title {
  margin-bottom: 16px;
  padding-top: 1px;

  @include label-cta-text;
}

.filter__rule {
  &:not(:last-child) {
    margin-bottom: 11px;
  }
}

.filter__availability-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
