include ../dropdown/dropdown
include ../button/button
include ../range/range
include ../checkbox/checkbox
include ../check-list/check-list

mixin number
  span.filter__total-number 1234

section.filter.js-filter(data-name="filter")
  .filter__overlay
  .filter__body
    .filter__wrapper
      button.filter__toggle.js-toggle(
        type="button",
        aria-label="Открыть фильтр"
      )
        span.filter__toggle_filter
          i.filter__toggle-icon.material-icons filter_list
          span.filter__toggle-text Фильтр
        i.filter__toggle_close.material-icons close
      form.filter__form
        h2.visually-hidden Фильтр
        .filter__list
          .filter__item.filter__item_dates
            +dropdown({mode: "filter", input: {label: "Даты пребывания в отеле", attributes: { name: "dates", "data-from": "2019-08-19", "data-to": "2019-08-23"} }, })
          .filter__item
            +dropdown({mode: "guests", input: {label: "Гости"}})
          .filter__item
            +range
            p.filter__range-desc Стоимость за сутки пребывания в номере
          .filter__item
            fieldset.filter__rules
              legend.filter__title Правила дома
              p.filter__rule
                +checkbox({ text: "Можно курить", attributes: { name: "smoke", } })
              p.filter__rule
                +checkbox({ text: "Можно с питомцами", attributes: { name: "pet", checked: true, } })
              p.filter__rule
                +checkbox({ text: "Можно пригласить гостей <br>(до 10 человек)", attributes: { name: "guests", checked: true, } })
          .filter__item
            fieldset.filter__availability
              legend.filter__title Доступность
              p.filter__availability-item
                +checkbox({ title: "Широкий коридор", text: "Ширина коридоров в номере<br> не менее 91 см.", attributes: { name: "accessibility-corridor", } })
              p.filter__availability-item
                +checkbox({ title: "Помощник для инвалидов", text: "На 1 этаже вас встретит специалист<br> и проводит до номера.", attributes: { name: "accessibility-helper", } })
          .filter__item
            +dropdown({mode: "comfort", input: {label: "Удобства номера"}})
          .filter__item.filter__item_amenities
            +checkList("Дополнительные удобства", "additionalAmenities")
        +button({text: "Показать", mode: "colored", attributes: { class: "filter__show-btn" }, inner: "number"})
