.filter {
  background-color: $white;

  &__body {
    @media (max-width: $lg) {
      width: 100%;
      background-color: $white;
      box-shadow: 0 10px 20px 0 $dark25;
    }
  }

  &__toggle {
    display: none;

    @media (max-width: $lg) {
      position: relative;
      display: block;
      min-width: 44px;
      height: 44px;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      outline: none;
    }
  }

  &__toggle_filter {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  &__toggle-icon {
    margin-right: 5px;
    background: $primary-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__toggle-text {
    font-size: 12px;
    line-height: 14px;
    color: $dark50;
  }

  &__toggle_close {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: $primary-gradient;
    background-clip: text;
    transform: translate(-50%, -50%);
    -webkit-text-fill-color: transparent;
  }

  &__overlay {
    @media (max-width: $lg) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 100vh;
      background-color: $dark05;
    }
  }

  &__wrapper {
    @media (max-width: $lg) {
      padding: 30px 0;

      @include container;
    }
  }

  &__list {
    @media (max-width: $lg) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-around;
      margin-bottom: 30px;
    }
  }

  &__item {
    width: 266px;
    margin-bottom: 30px;

    @media (max-width: $lg) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item_dates {
    margin-bottom: 20px;

    @media (max-width: $lg) {
      margin-bottom: 0;
    }
  }

  &__item_amenities {
    margin-top: -15px;
  }

  &__range-desc {
    padding-top: 13.5px;
    font-size: 12px;
    line-height: 14px;
    color: $dark50;
  }

  &__title {
    padding-top: 1px;
    margin-bottom: 16px;

    @include label-cta-text;
  }

  &__rules,
  &__availability {
    padding: 0;
    border: 0;
  }

  &__rule {
    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &__availability-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__show-btn {
    display: none;

    @media (max-width: $lg) {
      display: block;
      margin: 0 auto;
    }
  }

  &__total-number {
    &::before {
      content: " ( ";
    }

    &::after {
      content: " )";
    }
  }

  @media (max-width: $lg) {
    &_closed {
      position: relative;
    }

    &_closed &__body {
      position: absolute;
      box-shadow: none;
      transition: transform 0.1s linear 0s;
      transform: translateY(-150%);
    }

    &_closed &__toggle {
      position: absolute;
      top: 150%;
      left: 50%;
      transform: translateX(-50%);
    }

    &_closed &__toggle_close {
      display: none;
    }

    &_closed &__toggle_filter {
      display: flex;
    }

    &_closed &__overlay {
      display: none;
      opacity: 0;
      transition: all 0.3s;
    }

    &_opened &__body {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 101;
      max-height: 100vh;
      overflow-y: auto;
      transition: transform 0.3s linear 0s;
      transform: translateY(0);
    }

    &_opened &__toggle {
      margin-left: auto;
    }

    &_opened &__toggle_close {
      display: block;
    }

    &_opened &__toggle_filter {
      display: none;
    }

    &_opened &__overlay {
      display: block;
      opacity: 1;
      transition: all 0.3s;
    }
  }
}
