.room-details {
  min-width: 320px;

  background-color: $white;
  border-bottom: 1px solid $dark25;
}

.room-details__header {
  display: grid;
  grid-template: auto auto / 68.125% 31.875%;
}

.room-details__pic--big {
  grid-row: span 2;
}

.room-details__img {
  display: block;
}

.room-details__wrapper {
  display: grid;
  grid-template: 1fr / minmax(280px, 1fr) minmax(280px, 380px);
  padding: percent(70px, 1440px) 0;

  column-gap: 70px;
  @include container;
}

.room-details__list {
  display: grid;
  grid-template: repeat(3, auto) / auto auto;
  row-gap: 30px;

  column-gap: 70px;
}

.room-details__item--wide {
  grid-column: span 2;
}

.room-details__item-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.room-details__title {
  margin-bottom: 20px;
  @include title-element;
}

.room-details__review {
  &:not(:last-child) {
    margin-bottom: 22px;
  }
}
