.room-details {
  min-width: 320px;
  background-color: $white;
  border-bottom: 1px solid $dark25;

  &__header {
    display: grid;
    grid-template: auto auto / 68.125% 31.875%;
  }

  &__pic {
    @media (max-width: $xs) {
      display: none;
    }
  }

  &__pic_big {
    grid-row: span 2;

    @media (max-width: $xs) {
      display: block;
      grid-column: span 2;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__wrapper {
    display: flex;
    column-gap: calc-in-percent(70px, 1160px);
    padding: calc-in-percent(70px, 1440px) 0;
    @include container;

    @media (max-width: $max-width-xl) {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: calc-in-percent(70px, 724px);

    @media (max-width: $max-width-xl) {
      margin-bottom: 70px;
    }
  }

  &__item_cancellation {
    max-width: 341px;

    @media (max-width: $md) {
      max-width: none;
    }
  }

  &__item-top {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 20px;
    @include title-element;
  }

  &__title_indent {
    padding-left: 20px;
  }

  &__reviews-total {
    margin-bottom: 20px;
  }

  &__review {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__reservation {
    flex-shrink: 0;

    @media (max-width: $max-width-xl) {
      margin: 0 auto;
    }
  }
}
