@import "material-icons/iconfont/filled.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat-regular.ttf") format("truetype"),
    url("../fonts/montserrat-regular.svg#montserratregular") format("svg");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-bold.eot");
  src: url("../fonts/montserrat-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat-bold.woff") format("woff"),
    url("../fonts/montserrat-bold.ttf") format("truetype"),
    url("../fonts/montserrat-bold.svg#montserratregular") format("svg");
  font-display: swap;
}

@font-face {
  font-family: rouble;
  src: url("../fonts/rouble.otf") format("opentype");
}
