/* Вычисление величины в процентах от ширины родителя (for responsive) */
@function percent($value, $width-parent) {
  $result: $value * 100% / $width-parent;
  @return $result;
}

/* Шрифты */
@mixin montserrat-regular {
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
}

@mixin montserrat-bold {
  font-weight: 700;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
}

@mixin material-icons(
  $display: inline-block,
  $font-size: 24px,
  $line-height: 1
) {
  display: $display;

  font-weight: normal;
  font-size: $font-size;
  font-family: "Material Icons";
  font-style: normal;
  line-height: $line-height;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
}

@mixin title-section {
  color: $title-color;
  font-size: 24px;
  line-height: 29px;
  @include montserrat-bold;
}

@mixin title-element {
  color: $title-color;
  font-size: 19px;
  line-height: 23px;
  @include montserrat-bold;
}

@mixin label-cta-text {
  color: $title-color;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  @include montserrat-bold;
}

@mixin base-text($line-height: 24px) {
  color: $text-color;
  font-size: 14px;
  line-height: $line-height;
  @include montserrat-regular;
}

/* Контейнер */
@mixin container {
  width: 80.6%;
  min-width: 280px;
  max-width: 1550px; //для ширины окна 1920px
  margin: 0 auto;

  // background-color: blue;
}

/* Офомление input */
@mixin input {
  width: 100%;
  padding: 12px 14px;

  background-color: $white;
  border: 0;

  border-radius: 4px;

  @include base-text($line-height: 18px);

  &::placeholder {
    color: $dark25;
    font-size: 14px;
    line-height: 18px;
  }

  &:hover,
  &:focus {
    border: 0;
    outline: none;
  }
}

@mixin input-bordered {
  border: 1px solid $dark25;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $dark50;
    outline: none;
  }
}

/*Оформление карточек*/

@mixin card {
  width: 100%;
  min-width: 280px;
  max-width: 380px;
  padding: 39px 29px 29px;

  background-color: $white;
  border: 1px solid rgba($black, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px 0 rgba($black, 0.2);
}
