@mixin montserrat-regular {
  font-family: "montserratregular", "Arial", sans-serif;
}

@mixin montserrat-bold {
  font-family: "montserratbold", "Arial", sans-serif;
}

@mixin title-section {
  color: $title-color;
  font-size: 24px;
  line-height: 30px;
  @include montserrat-bold;
}

@mixin title-element {
  color: $title-color;
  font-size: 19px;
  line-height: 22.8px;
  @include montserrat-bold;
}

@mixin label-cta-text {
  color: $title-color;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  @include montserrat-bold;
}

@mixin base-text($line-height: 24px) {
  color: $text-color;
  font-size: 14px;
  line-height: $line-height;
  @include montserrat-regular;
}

@mixin gradient-color {
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin input {
  width: 100%;
  padding: 12px 14px;

  background-color: $white;
  border: 0;

  border-radius: 4px;

  @include base-text($line-height: 18px);

  &::placeholder {
    color: $dark25;
    font-size: 14px;
    line-height: 18px;
  }

  &:hover,
  &:focus {
    border: 0;
    outline: none;
  }
}

@mixin input-bordered {
  border: 1px solid $dark25;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $dark50;
    outline: none;
  }
}
