//breakpoints
$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

//colors
$dark: #1f2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark05: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

$text-color: $dark75;
$title-color: $dark;
