//container width
$content-width: 80.6;

//breakpoints
$xxs: 320px;
$xs: 575px;
$sm: 769px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$white: #ffffff;
$black: #000000;
$grey: #f4f4f6;
$dark: #1f2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.5);
$dark25: rgba($dark, 0.25);
$dark05: rgba($dark, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$secondary-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$primary-translucent-gradient: linear-gradient(
  180deg,
  rgba(188, 156, 255, 0.5) 0%,
  rgba(139, 164, 249, 0.5) 100%
);

$primary-color: $purple;

$text-color: $dark75;
$title-color: $dark;
