//breakpoints
$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

//colors
$white: #ffffff;
$black: #000000;
$grey: #e5e5e5;
$dark: #1f2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.5);
$dark25: rgba($dark, 0.25);
$dark05: rgba($dark, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

$text-color: $dark75;
$title-color: $dark;
