extends ../../base/base-uikit.pug

block variables
  - let pageTitle = "Headers & Footers"
  - let uikitClass = "uikit-page--theme-light"

block content
  main
    h1 Headers & Footers
    include ../../../components/footer/footer
