extends ../../base/base-uikit/base-uikit.pug

include ../../../components/header/header
include ../../../components/footer/footer

block variables
  -
    const pageTitle = "Headers & Footers";
    const uikitTheme = "light";

block content
  main
    section.headers-and-footers 
      h1.headers-and-footers__title Headers & Footers
      .headers-and-footers__header 
        +header
      .headers-and-footers__header 
        +header("Юлий Цезарь")
      .headers-and-footers__footer 
        +footer
