.room {
  display: flex;
  flex-direction: column-reverse;
  width: 270px;
  overflow: hidden;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 $dark05;
}

.room__link {
  display: block;
  padding: 20px 17px 19px 20px;
  color: $dark50;
}

.room__info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 10px;
}

.room__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 0;
  margin-right: 3px;
  border-top: 1px solid rgba($dark, 0.1);
}

.room__title {
  padding-top: 1px;
  @include title-element;
}

.room__number {
  margin-right: 8px;

  &::before {
    font-size: 14px;
    line-height: 17px;
    content: "№ ";
  }
}

.room__class {
  @include label-cta-text($color: $primary-color);
}

.room__cost {
  font-size: 12px;
  line-height: 18px;
}

.room__price {
  font-size: 14px;
  @include montserrat-bold;

  &::after {
    content: "₽ ";
  }
}

.room__review {
  line-height: 18px;
}

.room__review-number {
  @include montserrat-bold;

  &::after {
    content: " ";
  }
}

.room__slider {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    display: block;
    width: 42px;
    height: 100%;
    content: "";
    background: linear-gradient(
      90deg,
      rgb(0 0 0 / 50%) 0%,
      rgb(0 0 0 / 0%) 99.99%,
      rgb(255 255 255 / 0%) 100%
    );
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.room__img-wrapper {
  width: 270px;
  height: 151px;
  overflow: hidden;
  vertical-align: top; // for slick-slider
  background-color: $grey;
}

.room__img {
  display: block;
}

/* Стили для плагина slick-slider */
.slick-slider {
  position: relative;
  display: block;
  touch-action: pan-y;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.slick-list {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;

  &::before,
  &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  .slick-initialized & {
    display: block;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  transform: translateY(-50%);

  &::before {
    font-size: 24px;
    line-height: 24px;
    color: $white;
    content: "expand_more";

    @include material-icons;
  }
}

.slick-prev {
  left: 0;

  &::before {
    transform: rotate(90deg);
  }
}

.slick-next {
  right: 0;

  &::before {
    transform: rotate(-90deg);
  }
}

.slick-dots > li > button {
  display: block;
  width: 7.5px;
  height: 7.5px;
  font-size: 0;
  line-height: 0px;
  color: transparent;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
}

.slick-dots > li > button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 7.5px;
  height: 7.5px;
  font-size: 0;
  line-height: 0px;
  content: "";
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 50%;
  box-shadow: 0 5px 5px 0 rgba($dark, 0.3);
}

.slick-dots {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    position: relative;
    display: block;
    width: 7.5px;
    height: 7.5px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 3.75px;
    }

    &.slick-active button::before {
      background-color: $white;
    }
  }
}
