.offer {
  $ratio: calc(830 / 1440);

  position: relative;
  min-width: 320px;
  height: calc(100vw * #{$ratio});
  min-height: 630px;
  max-height: 900px;
  background-color: $grey;
  background-image: url("./img/offer-bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./img/offer-bg@2x.jpg");
  }
}

.offer__wrapper {
  height: 100%;
  padding: 70px 0;
  @include container;
}

.offer__text {
  position: absolute;
  right: 9.3%;
  bottom: 18px;
  width: 297px;
  text-align: right;
}
