extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/modal/modal

block variables
  - var pageTitle = "Cards"
  - var uikitClass = "uikit-page--theme-light"

block content
  +content()
    +modalSignin()
