extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/search-room/search-room
include ../../../components/signup/signup
include ../../../components/reservation/reservation

block variables
  - let pageTitle = "Cards"
  - let uikitClass = "uikit-page--theme-light"
  - let name = "cards"


block content
  +content(name)
    +contentSection({...{}, name})
      +searchRoom()
      +signup()
    +contentSection({...{}, name})
      +reservation()
    +contentSection({...{}, name})
      .uikit-calendar.js-date-dropdown
