extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/search-room/search-room
include ../../../components/signup/signup
include ../../../components/reservation/reservation
include ../../../components/signin/signin
include ../../../components/calendar/calendar
include ../../../components/room/room

block variables
  - let pageTitle = "Cards";
  - let uikitClass = "uikit-page_theme-light";
  - let name = "cards";

block content
  +content(name)
    +contentSection({...{}, name})
      +searchRoom
      +signup
    +contentSection({...{}, name})
      +reservation({ number: 888, category: "Люкс", price: 9990, arrival: "2019-08-19", departure: "2019-08-23", guests: { list: {adults: {value: 2}, children: {value: 1}, } }, })
      +signin
    +contentSection({...{}, name, mix: "datepicker"})
      +calendar({control: true})
      +room({ link: "#", number: "888", category: "Люкс", price: "9990", rating: "5", reviewTotal: "145", images: [ {src: "888-1@1x.jpg", srcset: "888-1@2x.jpg",}, {src: "888-2@1x.jpg", srcset: "888-2@2x.jpg",}, {src: "888-3@1x.jpg", srcset: "888-3@2x.jpg",}, {src: "888-4@1x.jpg", srcset: "888-4@2x.jpg",}, ] })
      +room({ link: "#", number: "840", category: "", price: "9900", rating: "4", reviewTotal: "65", images: [ {src: "840-1@1x.jpg", srcset: "840-1@2x.jpg",}, {src: "840-2@1x.jpg", srcset: "840-2@2x.jpg",}, {src: "840-3@1x.jpg", srcset: "840-3@2x.jpg",}, {src: "840-4@1x.jpg", srcset: "840-4@2x.jpg",}, ] })
