extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/datepicker/datepicker
include ../../../components/modal/modal

block variables
  - var pageTitle = "Cards"
  - var uikitClass = "uikit-page--theme-light"

block content
  +content()
    +contentSection({page: "cards"})
    +contentSection({page: "cards"})
      +datepickerInput
    +contentSection({page: "cards"})
      +datepicker()
    //- +modalSignin()
