mixin layout()
  .layout
    block
      
mixin layout__header()
  header.layout__header
    block
      
mixin layout__main
  main.layout__main
    block
      
mixin layout__container()
  .layout__container
    block
