.nav {
  display: grid;
  grid-column-gap: 20px;
  grid-template: 1fr / repeat(2, minmax(min-content, max-content));
  justify-content: flex-end;

  background-color: $white;
}

.nav__toggle {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  list-style: none;
}

.nav__list--site {
  flex-wrap: wrap;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.nav__item--sub {
  position: relative;

  .nav__link {
    display: flex;
    align-items: center;

    &::after {
      content: "expand_more";
      @include material-icons;
    }
  }

  &:hover > .nav__sub,
  &:focus-within > .nav__sub,
  & .nav__sub:hover {
    visibility: visible;
    opacity: 1;
  }
}

.nav__link,
.nav__sub-link {
  display: block;

  color: $dark50;
  line-height: 17px;

  &:hover,
  &:focus {
    color: $dark75;
    text-shadow: 0.65px 0px 0px $dark75, -0.65px 0px 0px $dark75;

    outline: none;

    transition: all 0.2s;
  }
}

.nav__link:hover::after,
.nav__link:focus::after {
  text-shadow: none;
}

.nav__sub {
  $padding: 10px;

  position: absolute;
  top: 100%;
  left: -$padding;

  padding: $padding;

  list-style: none;
  background-color: $white;
  border-radius: 4px;

  box-shadow: 0 10px 20px 0 $dark05;

  visibility: hidden;
  opacity: 0;

  transition: all 0.2s;
}

.nav__sub-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
