-
  locals.navMenu = [
    {
      title: "О нас",
      href: "/mock-address/change-me",
    },
    {
      title: "Услуги",
      sub: [
        {
          title: "Услуги1",
          href: "/mock-address/change-me",
        },
        {
          title: "Услуги2",
          href: "/mock-address/change-me",
        },
        {
          title: "Услуги32352",
          href: "/mock-address/change-me",
        },
      ],
    },
    {
      title: "Вакансии",
      href: "/mock-address/change-me",
    },
    {
      title: "Новости",
      href: "/mock-address/change-me",
    },
    {
      title: "Соглашения",
      sub: [
        {
          title: "Соглашения1",
          href: "/mock-address/change-me",
        },
        {
          title: "Соглашения2",
          href: "/mock-address/change-me",
        },
        {
          title: "Соглашения3",
          href: "/mock-address/change-me",
        },
        {
          title: "Соглашения4",
          href: "/mock-address/change-me",
        },
      ],
    },
  ]
