mixin type
  .type
    dl.type__list
      .type__item.type__item_decor_h1
        dt.type__category H1
        dd.type__desc This one is the sub-section or widget title
      .type__item.type__item_decor_h2
        dt.type__category H2
        dd.type__desc Next one is the item title inside widgets
      .type__item.type__item_decor_h3
        dt.type__category H3
        dd.type__desc This is a label or CTA text
      .type__item.type__item_decor_body
        dt.type__category Body
        dd.type__desc This is the body text which is used for most of the design, like paragraphs, lists, etc.
