include ../../components/UIkit/layout/layout
include ../../components/UIkit/header/header

doctype html
html(lang = 'en')
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(http-equiv = "X-UA-Compatible", content='ie=edge')
    title
      block title
  body
    +layout()
      +layout__header()
        +layout__container()
          block header
            +header()
      +layout__main()
        +layout__container()
          block main
    block scripts
