include ../../components/head/head
include ../../components/header/header
include ../../components/footer/footer

block variables

doctype html
html(lang = "ru")
  +head(title)
  body.website
    header
      +header(userName)
    main
      block content
    footer
      +footer()
