extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/input/input

block variables
  - var pageTitle = "Form elements"
  - var contentClasses = ""

block content
  +content()
    +input({
      name: "email",
      type: "email",
      placeholder: "Email",
      })
