extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/UIkit/form-element/form-element
include ../../../components/text-field/text-field
include ../../../components/dropdown/dropdown
include ../../../components/subscription/subscription

block variables
  - var pageTitle = "Form elements"

block content
  +content()
    +contentSection({page: "form-elements"})
      +formElement({title: "Text Field", state: "Default"})
        +text-field()(
          type = "email"
          placeholder = "Email"
          )
      +formElement({title: "Text Field", state: "Hover / Focus"})
        +text-field()(
          type = "text"
          placeholder = "Text"
          value = "This is pretty awesome"

          )
      +formElement({mb: "margin-bottom-23"})
        +dropdown({
          label: "Dropdown",
          isGuestsDropdown: true
          })
      +formElement({mb: "margin-bottom-40"})
        +text-field({
          label: "Masked text field",
          id: "mask",
          isDateMask: true
          })
      +formElement({mb: "margin-bottom-40", mix: "date-dropdown"})
        +dropdown({
          label: "Date Dropdown",
          isDateDropdown: true,
          })
        +dropdown({
          label: "Date Dropdown",
          isDateDropdown: true,
          })(value = "19.08.2019")
      +formElement({mb: "margin-bottom-40"})
        +dropdown({
          label: "Filter date dropdown",
          isFilterDateDropdown: true,
          })
      +formElement({title: "Subscription text field", mb: "margin-bottom-101"})
        +subscription
      +formElement({title: "Dropdown", state: "Default"})
        +dropdown({
          isRoomsDropdown: true,
          })
