extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/UIkit/form-element/form-element
include ../../../components/text-field/text-field
include ../../../components/dropdown/dropdown
include ../../../components/field-submit/field-submit

block variables
  - var pageTitle = "Form elements"

block content
  +content()
    +contentSection({page: "form-elements"})
      +formElement({title: "Text Field", state: "Default"})
        +text-field()(
          type = "email"
          placeholder = "Email"
          )
      +formElement({title: "Text Field", state: "Hover / Focus"})
        +text-field()(
          type = "text"
          placeholder = "Text"
          value = "This is pretty awesome"
          autofocus
          )
      +formElement()
        +dropdown({
          label: "Dropdown",
          guestsDropdown: true
          })
      +formElement()
        +text-field({
          label: "Masked text field",
          dateMask: true
          })
      +formElement({
        title: "Subscription text field",
        width: "medium"
        })
        +fieldSubmit()(
          type = "email"
          placeholder = "Email"
          )
