extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/UIkit/form-element/form-element
include ../../../components/input/input
include ../../../components/text-field/text-field
include ../../../components/dropdown/dropdown
include ../../../components/subscription/subscription
include ../../../components/like/like
include ../../../components/rating/rating
include ../../../components/range/range
include ../../../components/pagination/pagination
include ../../../components/checkbox/checkbox
include ../../../components/radio/radio
include ../../../components/toggle/toggle
include ../../../components/check-list/check-list

block variables
  - var pageTitle = "Form elements"

block content
  +content()
    +contentSection({page: "form-elements"})
      +formElement({title: "Text Field", state: "Default"})
        +text-field()(
          type = "email"
          placeholder = "Email"
          )
      +formElement({title: "Text Field", state: "Hover / Focus"})
        +text-field()(
          type = "text"
          placeholder = "Text"
          value = "This is pretty awesome"

          )
      +formElement({mb: "margin-bottom-23"})
        +dropdown({
          label: "Dropdown",
          isGuestsDropdown: true
          })
      +formElement({mb: "margin-bottom-40"})
        +text-field({
          label: "Masked text field",
          id: "mask",
          isDateMask: true
          })
      +formElement({mb: "margin-bottom-40", mix: "date-dropdown"})
        +dropdown({
          label: "Date Dropdown",
          isDateDropdown: true,
          })
        +dropdown({
          label: "Date Dropdown",
          isDateDropdown: true,
          })(value = "19.08.2019")
      +formElement({mb: "margin-bottom-40"})
        +dropdown({
          label: "Filter date dropdown",
          isFilterDateDropdown: true,
          })
      +formElement({title: "Subscription text field", mb: "margin-bottom-98"})
        +subscription()


    +contentSection({page: "form-elements"})
      +formElement({title: "Checkbox buttons", categoryMb: "margin-bottom-16", mb: "margin-bottom-40", mix: "checkbox"})
        +checkbox({
          text: "Можно курить",
          attributes: {
            name: "smoke",
          }
        })
        +checkbox({
          text: "Можно с питомцами",
          attributes: {
            name: "pet",
            checked: true,
          }
        })
        +checkbox({
          text: "Можно пригласить гостей <br>(до 10 человек)",
          attributes: {
            name: "guests",
            checked: true,
          }
        })
      +formElement({title: "Radio Buttons", categoryMb: "margin-bottom-16", mb: "margin-bottom-42", mix: "radio"})
        +radio({
          text: "Мужчина",
          attributes: {
            name: "gender",
            value: "man",
            checked: true,
          }
          })
        +radio({
          text: "Женщина",
          attributes: {
            name: "gender",
            value: "woman",
          }
          })
      +formElement({title: "Toggle", categoryMb: "margin-bottom-16", mb: "margin-bottom-44", mix: "toggle"})
        +toggle({
          text: "Получать спецпредложения",
          attributes: {
            name: "offer",
            checked: true,
          }
          })
        +toggle({
          text: "Получать спецпредложения",
          attributes: {
            name: "offer",
          }
          })
      +formElement({title: "Like button", categoryMb: "margin-bottom-16", mb: "margin-bottom-40", mix: "like"})
        +like(2, false)
        +like(12, true)
      +formElement({title: "Rate button", categoryMb: "margin-bottom-16", mb: "margin-bottom-40", mix: "rate"})
        +rating(4)
        +rating(5)

    +contentSection({page: "form-elements"})
      +formElement({mb: "margin-bottom-44"})
        +range("Range slider")
      +formElement({title: "Buttons", categoryMb: "margin-bottom-16", mb: "margin-bottom-40", mix: "buttons"})
        +button({
          type: "button",
          buttonMod: "colored",
          desc: "Click me"
          })
        +button({
          type: "button",
          buttonMod: "bordered",
          desc: "Click me"
          })
        +button({
          type: "button",
          buttonMod: "text",
          desc: "Click me"
          })
        +button({
          type: "button",
          buttonMod: "with-arrow",
          desc: "Перейти к оплате"
          })
      +formElement({title: "Pagination", categoryMb: "margin-bottom-16"})
        +pagination()

    +contentSection({page: "form-elements"})
      +formElement({title: "Dropdown", state: "Default"})
        +dropdown({
          isComfortDropdown: true,
          })
      +formElement({title: "Dropdown", state: "Expanded"})
        +dropdown({
          isComfortDropdown: true,
          dataShow: "true",
          })

    +contentSection({page: "form-elements"})
      +formElement()
        +dropdown({
          label: "Dropdown",
          isGuestsDropdown: true,
          dataShow: "true",
          })
      +formElement()
        +dropdown({
          label: "Dropdown",
          isGuestsDropdown: true,
          dataShow: "true",
          })

    +contentSection({page: "form-elements"})
      +formElement({mix: "check-list"})
        +checkList("Expandable checkbox list", "additionalAmenities")
        +checkList("Expandable checkbox list", "additionalAmenities", true)

    +contentSection({page: "form-elements"})
      +formElement({title: "Rich checkbox buttons", categoryMb: "margin-bottom-16", mix: "rich-checkbox"})
        +checkbox({
          title: "Широкий коридор",
          text: "Ширина коридоров в номере<br> не менее 91 см.",
          attributes: {
            name: "accessibility-corridor",
          }
          })
        +checkbox({
          title: "Помощник для инвалидов",
          text: "На 1 этаже вас встретит специалист<br> и проводит до номера.",
          attributes: {
            name: "accessibility-helper",
          }
          })
      +formElement({title: "Bullet list", categoryMb: "margin-bottom-16"})
