extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/UIkit/form-element/form-element
include ../../../components/input/input
include ../../../components/text-field/text-field
include ../../../components/dropdown/dropdown
include ../../../components/subscription/subscription

block variables
  - var pageTitle = "Form elements"

block content
  +content()
    +contentSection({page: "form-elements"})
      +formElement({title: "Text Field", state: "Default"})
        +text-field()(
          type = "email"
          placeholder = "Email"
          )
      +formElement({title: "Text Field", state: "Hover / Focus"})
        +text-field()(
          type = "text"
          placeholder = "Text"
          value = "This is pretty awesome"

          )
      +formElement({mb: "margin-bottom-23"})
        +dropdown({
          label: "Dropdown",
          isGuestsDropdown: true
          })
      +formElement({mb: "margin-bottom-40"})
        +text-field({
          label: "Masked text field",
          id: "mask",
          isDateMask: true
          })
      +formElement({mb: "margin-bottom-40", mix: "date-dropdown"})
        +dropdown({
          label: "Date Dropdown",
          isDateDropdown: true,
          })
        +dropdown({
          label: "Date Dropdown",
          isDateDropdown: true,
          })(value = "19.08.2019")
      +formElement({mb: "margin-bottom-40"})
        +dropdown({
          label: "Filter date dropdown",
          isFilterDateDropdown: true,
          })
      +formElement({title: "Subscription text field", mb: "margin-bottom-98"})
        +subscription()


    +contentSection({page: "form-elements"})
      +formElement({title: "Checkbox buttons", categoryMb: "margin-bottom-16", mb: "margin-bottom-40", mix: "checkbox"})
        +input({isCheckbox: true, id: "smoke", text: "Можно курить"})(
          name = "smoke"
          )
        +input({isCheckbox: true, id: "pet", text: "Можно с питомцами"})(
          name = "pet"
          checked
          )
        +input({isCheckbox: true, id: "guests", text: "Можно пригласить гостей <br>(до 10 человек)"})(
          name = "guests"
          checked
          )
      +formElement({title: "Radio Buttons", categoryMb: "margin-bottom-16", mb: "margin-bottom-37", mix: "radio"})
        +input({id: "filter-man", text: "Мужчина"})(
          type = "radio"
          name = "gender"
          value = "man"
          checked
          )
        +input({id: "filter-woman", text: "Женщина"})(
          type = "radio"
          name = "gender"
          value = "woman"
          )
      +formElement({title: "Toggle", categoryMb: "margin-bottom-16", mb: "margin-bottom-40", mix: "toggle"})
        +input({isToggle: true, id: "offer-1", text: "Получать спецпредложения"})(
          name = "offer"
          checked
          )
        +input({isToggle: true, id: "offer-2", text: "Получать спецпредложения"})(
          name = "offer"
          )
      +formElement({title: "Like button", categoryMb: "margin-bottom-16", mb: "margin-bottom-40", mix: "like"})

    +contentSection({page: "form-elements"})
      +formElement({title: "Buttons", categoryMb: "margin-bottom-16", mix: "buttons"})
        +button({
          type: "button",
          buttonMod: "colored",
          desc: "Click me"
          })
        +button({
          type: "button",
          buttonMod: "bordered",
          desc: "Click me"
          })
        +button({
          type: "button",
          buttonMod: "text",
          desc: "Click me"
          })
        +button({
          type: "button",
          buttonMod: "with-arrow",
          desc: "Перейти к оплате"
          })

    +contentSection({page: "form-elements"})
      +formElement({title: "Dropdown", state: "Default"})
        +dropdown({
          isComfortDropdown: true,
          })
      +formElement({title: "Dropdown", state: "Expanded"})
        +dropdown({
          isComfortDropdown: true,
          dataShow: "true",
          })

    +contentSection({page: "form-elements"})
      +formElement()
        +dropdown({
          label: "Dropdown",
          isGuestsDropdown: true,
          dataShow: "true",
          })
      +formElement()
        +dropdown({
          label: "Dropdown",
          isGuestsDropdown: true,
          dataShow: "true",
          })
