-
  locals.additionalAmenities = [
    {
      text: "Завтрак",
      attributes: {
        name: "breakfast",
      }
    },
    {
      text: "Письменный стол",
      attributes: {
        name: "desk",
        checked: true,
      }
    },
    {
      text: "Стул для кормления",
      attributes: {
        name: "feeding chair",
        checked: true,
      }
    },
    {
      text: "Кроватка",
      attributes: {
        name: "crib",
        checked: true,
      }
    },
    {
      text: "Телевизор",
      attributes: {
        name: "TV",
      }
    },
    {
      text: "Шампунь",
      attributes: {
        name: "Shampoo",
      }
    },
  ]
