details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

.check-list {
  min-width: 266px;
  background-color: $white;

  &__title {
    position: relative;
    padding: 15px 50px 15px 0;
    cursor: pointer;
    outline: none;
    @include label-cta-text;

    &::after {
      position: absolute;
      top: 50%;
      right: 10px;
      color: $dark50;
      content: "expand_more";
      transition: all 0.2s;
      transform: translateY(-50%);

      @include material-icons;
    }
  }

  &__items {
    padding: 3px 3px 3px 0;
    list-style: none;
    background-color: $white;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &[open] &__title::after {
    transform: translateY(-50%) rotate(180deg);
  }
}
