extends ../../base/base-uikit.pug

include ../../../components/UIkit/content/content
include ../../../components/UIkit/colors/colors
include ../../../components/UIkit/type/type

block variables
  -
    const pageTitle = "Colors & Type";
    const colorsList = [
        {
          title: "Dark Shade 100%",
          code: "#1F2041",
          color: "dark"
        },
        {
          title: "Dark Shade 75%",
          code: "#1F2041",
          color: "dark75"
        },
        {
          title: "Dark Shade 50%",
          code: "#1F2041",
          color: "dark50"
        },
        {
          title: "Dark Shade 25%",
          code: "#1F2041",
          color: "dark25"
        },
        {
          title: "Dark Shade 5%",
          code: "#1F2041",
          color: "dark05"
        },
        {
          title: "Purple",
          code: "#BC9CFF",
          color: "purple"
        },
        {
          title: "Green",
          code: "#6FCF97",
          color: "green"
        },
      ];

block content
  +content({title: pageTitle})
    +colors(colorsList)
    +type
