extends ../../base/base-uikit/base-uikit.pug

include ../../../components/uikit/colors/colors
include ../../../components/uikit/type/type

block variables
  -
    const pageTitle = "Colors & Type";
    const colorsList = [
        {
          title: "Dark Shade 100%",
          code: "#1F2041",
          color: "dark"
        },
        {
          title: "Dark Shade 75%",
          code: "#1F2041",
          color: "dark75"
        },
        {
          title: "Dark Shade 50%",
          code: "#1F2041",
          color: "dark50"
        },
        {
          title: "Dark Shade 25%",
          code: "#1F2041",
          color: "dark25"
        },
        {
          title: "Dark Shade 5%",
          code: "#1F2041",
          color: "dark05"
        },
        {
          title: "Purple",
          code: "#BC9CFF",
          color: "purple"
        },
        {
          title: "Green",
          code: "#6FCF97",
          color: "green"
        },
      ];

block content
  main 
    section.colors-and-type 
      .colors-and-type__wrapper 
        h1.colors-and-type__title= pageTitle
        +colors(colorsList)
        +type
