mixin colors(list)
  .colors
    ul.colors__list
      each item in list
        li.colors__item
          .colors__pic(class=item.colorClass)
          .colors__desc
            h2.colors__title= item.title
            span.colors__code= item.code
