block variables
  -
    var colorsList = [
      {
        title: "Dark Shade 100%",
        code: "#1F2041",
        colorClass: "colors__pic_dark"
      },
      {
        title: "Dark Shade 75%",
        code: "#1F2041",
        colorClass: "colors__pic_dark75"
      },
      {
        title: "Dark Shade 50%",
        code: "#1F2041",
        colorClass: "colors__pic_dark50"
      },
      {
        title: "Dark Shade 25%",
        code: "#1F2041",
        colorClass: "colors__pic_dark25"
      },
      {
        title: "Dark Shade 5%",
        code: "#1F2041",
        colorClass: "colors__pic_dark05"
      },
      {
        title: "Purple",
        code: "#BC9CFF",
        colorClass: "colors__pic_purple"
      },
      {
        title: "Green",
        code: "#6FCF97",
        colorClass: "colors__pic_green"
      },
    ];
