mixin buttonIcon(name)
  i.material-icons= name

mixin button(options)
  if !options
    - options = {}

  - let classes = []

    if options.iconName
      - classes.push("button--material-icon")

    if options.mix
      - classes.push(options.mix)


  button.button(
    class=classes
    type=options.type
    )
    if(options.hiddenDesc)
      span.visually-hidden= options.hiddenDesc
    else
     = options.desc
    if(options.iconName)
      +buttonIcon(options.iconName)
