mixin buttonIcon(name, desc)
  i.material-icons= name
  span.visually-hidden= desc

mixin button(options)
  if !options
    - options = {}

  - let classes = []

    if options.iconName
      - classes.push("button--material-icons")

    if options.mix
      - classes.push(options.mix)


  button.button(
    class=classes
    type=options.type
    )
    if(options.iconName)
      +buttonIcon(options.iconName, options.iconDesc)
