.button {
  display: block;
  padding: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  @include label-cta-text;

  &--icon {
    position: relative;
    flex-shrink: 0;
    width: 44px;
    height: 42px;
  }

  &--icon &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: $primary-gradient;
    background-clip: text;
    transform: translate(-50%, -50%);
    -webkit-text-fill-color: transparent;
  }

  &--colored {
    padding: 15px 20px;
    color: $white;
    background-image: $primary-gradient;
    border-radius: 22px;

    &:hover,
    &:focus {
      background-image: $primary-translucent-gradient;
      outline: none;
    }
  }

  &--colored#{&}--thin {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--bordered {
    padding: 13px 18px;
    color: $primary-color;
    background-image: linear-gradient($white, $white), $primary-gradient;
    background-repeat: no-repeat, no-repeat;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border: 2px solid transparent;
    border-radius: 22px;

    &:hover,
    &:focus {
      background-image: linear-gradient($white, $white),
        $primary-translucent-gradient;
      outline: none;
    }
  }

  &--bordered#{&}--thin {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &--text {
    color: $primary-color;

    &:hover,
    &:focus {
      color: $dark50;
      outline: none;
    }
  }

  &--with-arrow {
    position: relative;
    width: 100%;
    max-width: 320px;
    padding: 15px 20px;
    color: $white;
    background: $primary-gradient;
    border-radius: 22px;

    &::after {
      position: absolute;
      top: 50%;
      right: 10px;
      content: "arrow_forward";
      transform: translateY(-50%);

      @include material-icons;
    }

    &:hover,
    &:focus {
      background: $primary-translucent-gradient;
      outline: none;
    }
  }
}
