.social {
  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    position: relative;
    flex-shrink: 0;
    width: 24px;
    height: 24px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    line-height: 23px;
    background: $primary-gradient;
    background-clip: text;
    transform: translate(-50%, -50%);
    -webkit-text-fill-color: transparent;

    &_icon_twitter {
      @include fa-icon-brands($fa-var-twitter);
    }

    &_icon_facebook {
      @include fa-icon-brands($fa-var-facebook-square);
    }

    &_icon_instagram {
      @include fa-icon-brands($fa-var-instagram);
    }
  }
}
