-
  locals.social = [
    {
      text: "Мы в Твиттер",
      href: "#",
    },
    {
      text: "Мы в Фейсбук",
      href: "#",
    },
    {
      text: "Мы в Инстаграм",
      href: "#",
    },
  ]
