-
  locals.social = [
    {
      text: "Мы в Твиттер",
      href: "#",
      iconClass: "fab fa-twitter",
    },
    {
      text: "Мы в Фейсбук",
      href: "#",
      iconClass: "fab fa-facebook-square",
    },
    {
      text: "Мы в Инстаграм",
      href: "#",
      iconClass: "fab fa-instagram",
    },
  ]
