-
  locals.social = [
    {
      text: "Мы в Твиттер",
      href: "/mock-address/change-me",
      icon: "twitter",
    },
    {
      text: "Мы в Фейсбук",
      href: "/mock-address/change-me",
      icon: "facebook",
    },
    {
      text: "Мы в Инстаграм",
      href: "/mock-address/change-me",
      icon: "instagram",
    },
  ]
