mixin checkbox({title, text, attributes: checkboxAttributes})
  label.checkbox
    input.checkbox__input(type="checkbox")&attributes(checkboxAttributes)
    span.checkbox__icon
    if title
      span.checkbox__desc
        span.checkbox__title!= title
        span.checkbox__text!= text
    else
      != text
