mixin checkbox(title="Правила дома")
  -
    let selectionList = [
      {
        name: "smoke",
        text: "Можно курить",
        checked: false,
      },
      {
        name: "pet",
        text: "Можно с питомцами",
        checked: true,
      },
      {
        name: "guests",
        text: "Можно пригласить гостей <br>(до 10 человек)",
        checked: true,
      },
    ]


  fieldset.checkbox
    legend.checkbox__title= title
    ul.checkbox__list
      for item in selectionList
        +checkboxItem(item)

mixin checkboxItem(item)
  li.checkbox__item
    input.visually-hidden.checkbox__input(
      type = "checkbox"
      name = item.name
      id = item.name
      checked = item.checked
      )
    label.checkbox__label(for=item.name)!= item.text
