.checkbox {
  display: flex;
  align-items: flex-end;
  line-height: 18px;
  color: $dark50;
  cursor: pointer;
  user-select: none;

  &__icon {
    display: block;
    flex-shrink: 0;
    align-self: flex-start;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid $dark25;
    border-radius: 4px;
  }

  &__desc {
    display: block;
  }

  &__title {
    display: block;
    padding-top: 1px;
    margin-bottom: 5px;
    color: $dark75;
    @include montserrat-bold;
  }

  &__text {
    display: block;
    font-size: 12px;
    line-height: 14px;
  }

  /* Checked */
  &__input:checked + &__icon {
    background-image: url("./img/check.svg");
    background-repeat: no-repeat;
    background-position: top 40% left 50%;
    border-color: $purple;
  }
}
