block variables
  -
    var uikitList = [
      {
        title: "Colors & Type",
        href: "/colors-and-type.html",
      },
      {
        title: "Form elements",
        href: "/form-elements.html",
      },
      {
        title: "Cards",
        href: "/cards.html",
      },
    ]

  -
    var webList = [
      {
        title: "Colors & Type",
        href: "/colors-and-type.html",
      },
      {
        title: "Colors & Type",
        href: "/colors-and-type.html",
      }
    ]
