.pages-nav {
  width: 50%;
  background-color: inherit;

  @media (max-width: $md) {
    width: 100%;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__title {
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: $md) {
      padding-left: 0;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 5px 10px 5px 40px;

    @media (max-width: $md) {
      padding: 5px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    text-decoration: none;

    @include title-element;
  }
}
