.pages-nav {
  min-width: 320px;
  background-color: inherit;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 140px;

    @include container;
  }

  &__caption {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
    line-height: 1.2;
    color: $title-color;
    text-align: center;

    @include montserrat-bold;

    @media (max-width: $md) {
      text-align: center;
    }
  }

  &__column {
    width: 50%;
    background-color: inherit;

    @media (max-width: $md) {
      width: 100%;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  &__title {
    @include title-section;

    padding-left: 20px;
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: $md) {
      padding-left: 0;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 5px 10px 5px 40px;

    @media (max-width: $md) {
      padding: 5px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    text-decoration: none;

    @include title-element;
  }
}
