block variables
  -
    var uikitList = [
      {
        title: "Colors & Type",
        href: "colors-and-type.html",
      },
      {
        title: "Form elements",
        href: "form-elements.html",
      },
      {
        title: "Cards",
        href: "cards.html",
      },
      {
        title: "Headers & Footers",
        href: "headers-and-footers.html",
      },
    ]

  -
    var webList = [
      {
        title: "Landing page",
        href: "landing-page.html",
      },
      {
        title: "Colors & Type",
        href: "colors-and-type.html",
      }
    ]
