mixin input(options)
  if !options
    - options = {}

  -
    var classes = ""
    classes += options.borderNone ? " input--border-none" : ""
    classes += options.mix ? " " + options.mix : ""


  if (options.dateMask)
    - options.type = "text"
    - options.placeholder = "ДД.ММ.ГГГГ"
    - options.pattern = "(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"

  - if (options.type === "text" || options.type === "email" || options.type === "password")
    input.input(
      class = classes
      type = options.type
      name = options.name
      placeholder = options.placeholder
      pattern = options.pattern
      tabindex = options.tabindex
      required = options.required
      value = options.value
      autofocus = options.autofocus
      )
