mixin input({isDateMask, attributes: inputAttributes = {}})
  -
    let classes = []

    if (isDateMask) {
      classes.push("js-input-date-mask")
      inputAttributes.type = "text"
      inputAttributes.placeholder = "ДД.ММ.ГГГГ"
    }

  input(class=classes)&attributes(inputAttributes)
