mixin input(options)
  if !options
    - options = {}

  - let classes = []

  if options.isDateMask
    - classes.push("js-input-date-mask")
    - attributes.type = "text"
    - attributes.placeholder = "ДД.ММ.ГГГГ"

  if options.isDatepicker
    - classes.push("datepicker-here")
    - attributes.type = "text"

  if options.isDatepickerFilter
    - classes.push("datepicker-here")
    - attributes.type = "text"
    - options.dataRange = "true"
    - options.dataDateFormat = "dd M"

  if options.isDropdownSelect
    - classes.push("js-dropdown__input")

  input(
    class = classes
    id = options.id
    data-range = options.dataRange
    data-date-format = options.dataDateFormat
    )&attributes(attributes)
