mixin input(options)
  if !options
    - options = {}

  - let classes = []

  if options.dateMask
    - classes.push("js-input-date-mask")
    - attributes.type = "text"
    - attributes.placeholder = "ДД.ММ.ГГГГ"

  input(
    class = classes
    id = options.id
    )&attributes(attributes)
