//Убирает стрелки из поля input type number

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: textfield;
}

.input__label {
  position: relative;

  display: flex;

  cursor: pointer;

  user-select: none;
}

.input__element[type="checkbox"] + .input__label {
  line-height: 18px;
}

.input__element + .input__label::before {
  display: block;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 10px;

  border: 1px solid $dark25;

  content: "";
}

.input__element:checked + .input__label::before {
  border-color: $purple;
}

.input__element[type="checkbox"] + .input__label::before {
  border-radius: 4px;
}

.input__element[type="checkbox"]:checked + .input__label::after {
  position: absolute;
  top: 4px;
  left: 5px;

  display: block;

  width: 10px;
  height: 11px;

  background-image: url("./img/check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.input__element[type="radio"] + .input__label::before {
  border-radius: 50%;
}

.input__element[type="radio"]:checked + .input__label::after {
  position: absolute;
  top: 4px;
  left: 4px;

  display: block;

  width: 12px;
  height: 12px;

  background: $primary-gradient;

  border-radius: 50%;

  content: "";
}
