.input {
  width: 100%;
  min-height: 44px;
  padding: 0 12px;

  color: $dark75;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;

  background-color: $white;

  border: 1px solid $dark25;
  border-radius: 4px;

  @include montserrat-regular;

  &::placeholder {
    color: $dark25;
    font-size: 14px;
    line-height: 18px;
  }

  &:hover,
  &:focus {
    border: 1px solid $dark50;
    outline: none;
  }
}

.input--border-none {
  border: 0;

  &:hover,
  &:focus {
    border: 0;
    outline: none;
  }
}
